<nav class="navbar navbar-expand-lg navbar-light fixed-top w-100" style="background-color: snow;">
  <a class="navbar-brand" href="#">Brahmasmi</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link"  routerLink="/vendorregistration" routerLinkActive="active">Register As A Professional</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link"  routerLink="/vendorcity" routerLinkActive="active">Professional Enquiry</a>
      </li>
      <li class="nav-item" *ngIf="isLogin && isVendor">
        <a class="nav-link"  routerLink="/vendordashboard" routerLinkActive="active">My Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="isLogin && !isVendor">
        <a class="nav-link"  routerLink="/userdashboard" routerLinkActive="active">My Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isLogin" routerLink="/adminlogin" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/astrologyslotbooking" routerLinkActive="active">Astrology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/storeregistration" routerLinkActive="active"  href="#">Register As A Store</a>
      </li>
      <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Shop</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/products" routerLinkActive="active">Shop Pooja Kits</a>
          <a class="dropdown-item" routerLink="/" routerLinkActive="active">Shop Pooja Items</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/virtualslotbooking" routerLinkActive="active">Virtual Pooja</a>
      </li>
      <li class="nav-item" *ngIf="isLogin && !isVendor">
        <a class="nav-link" routerLink="/userproductorders" routerLinkActive="active">My Orders</a>
      </li>

    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div>

            <app-cart></app-cart>

        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="!isLogin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login/ Sign Up</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="isLogin">

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/profileicon.png" style="height: 30px;width:30px;" class="rounded-circle z-depth-0"
            alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" *ngIf="isLogin && isVendor" routerLink="/vendorregistration" routerLinkActive="active">My Profile</a>
          <a class="dropdown-item" *ngIf="isLogin && !isVendor" routerLink="/userprofile" routerLinkActive="active">My Profile</a>
          <a class="dropdown-item" href="#" (click)="Logout()">Logout</a>
        </div>
      </li>
    </ul>


  </div>
</nav>
