
    
    <style>
        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;
        }            

        .content {
            margin-left: 200px;
            margin-right: 200px;
            font-size: 16px;
        }
        .card-header{
            background-image: url('light.jpg');
            
            text-align: center;
            color: #ffffff;
            font-weight: bold;
            font-size: 30px;
            padding: 15px;
            
        }
        
        .card-body{
            background-color:#f1f1f1;
            color: #170a2b;
            padding: 100px;
        }
    </style>

    <!-- hitwebcounter Code START
    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=7714874&style=0025&nbdigits=9&type=page&initCount=10" title="Total Website Hits" Alt="Web Hits" border="0" />
    </a>

    hitwebcounter Code START
    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=7714875&style=0025&nbdigits=9&type=ip&initCount=10" title="Total Website Hits" Alt="Web Hits" border="0" />
    </a> -->
    <app-header></app-header>
    <div class="container-fluid border" style="padding: 20px;border-color: gray;">
        <br>
        <h3 style="text-align:center;color: #FF9F1C;"><b>Cancellation & Refund Policy</b></h3>

    <div class="card-body">
        <p><b>Cancellations & Refund Policy:</b>
            <br>
            Cancellations can be made 2 days or more before the Pooja event. There will be no refunds for cancellations made within 2 days or 48 hours of the event. Refunds will not be provided for Poojas Cancelled on that particular day during that muhurth time due to any reason from the devotees side. Notice of cancellation must be made via e-mail to info@brahmasmi.in. A cancellation acknowledgement will be sent within 2 working days and fees refunded within 12 working days, subject to this Refund Policy.
            
            If Brahmasmi Online Services  PVT LTD offers a Pooja Service we do not issue refunds once the order is accomplished. As a customer you are responsible for understanding this refund policy upon purchasing any product or services at our web site. However, we realize that exceptional circumstance can take place with regard to the character of the product or services we provide.
            <br><br>

            <b>Therefore, We Do Honor Requests For Refund Where The
            Following Reasons Apply:</b>
            <br>
            Non-delivery of the product or service: such as, for example, due to some mailing issues you do not receive a delivery e-mail from us.
            Few software mistakes or manual difficulties with the product or service occurs sometimes: although all the products and services are thoroughly reviewed before release, unexpected errors may occur. This reason should be submitted to our Support Team for approval (info@brahmasmi.in).
            Contact Us
            Please note that our Support Team (info@brahmasmi.in) is ready to provide you with timely and efficient professional assistance. We will attempt to find the best convenient solution for your query. Give us 12-24 hours for our Support Team to get back to you on the problem.
            <br><br>
            <b>Payment Policy:</b>
            <br>
            Registration is not complete until advance or full payment has been received. Advance or full Payments not received before the Pooja will result in non delivery of our service. Payment may be made by Cash, Check, Visa, MasterCard or Net banking.</p>
    </div>
</div>
<app-footer></app-footer>


