<nav class="navbar navbar-expand-lg navbar-light" style="background-color: snow;">
  <a class="navbar-brand" href="#">Brahmasmi</a>
  <span style="width: 500px;"></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/vendordashboard" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>

    </ul>

   <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/profileicon.png" style="height: 30px;width:30px;" class="rounded-circle z-depth-0"
            alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" routerLink="/vendorprofile" routerLinkActive="active">My Profile</a>
          <a class="dropdown-item" href="#">My Earnings</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<div class="container-fluid jumbotron" style="background-color: linen; height:100%" >
<div class="alert alert-dismissible alert-info">
  <strong>Great !!</strong> Your order has been successfully placed. We will manually check your Payment and update the status.
  Please check your Email inbox for further details.
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="card border-primary mb-3 w-100">
              <div class="card-header font-weight-bold">Order Details
                <div class="pull-right">Invoice No: {{invoiceno}}</div>
              </div>

              <div class="card-body" style="height: 100%">

                  <div class="conatiner-fluid">
                      <div class="row">
                          <div class="col-md-12">
                            <table class="table table-bordered w-100" >
                              <thead class="thead-light">
                                  <tr>
                                      <th>Order No</th>
                                      <th>Service Name</th>
                                      <th>Date</th>
                                      <th>Email Id</th>
                                      <th>Total</th>
                                      <th>Payment Method</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of orderdetails;let i=index">
                                      <td>{{item.orderNo}}</td>
                                      <td>{{item.serviceName}}</td>
                                      <td>{{item.paymentDate}}</td>
                                      <td>{{item.emailId}}</td>
                                      <td>{{item.total}}</td>
                                      <td>{{item.modeofPayment}}</td>
                                  </tr>

                              </tbody>
                            </table>
                          </div>

                      </div>
                  </div>

              </div>
              <div class="card-footer">

                <button type="button" class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="active">Back to Home</button>

            </div>
          </div>
      </div>
      </div>


</div>
</div>

