<app-header></app-header>
<div class="container-fluid jumbotron" style="background-color: linen; height:100%" >
<div class="alert alert-dismissible alert-info">
  <strong>Great !!</strong> Your order has been successfully placed. We will manually check your Payment and update the status.
  Please check your Email inbox for further details.
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="card border-primary mb-3 w-100">
              <div class="card-header font-weight-bold">Order Details
                <div class="pull-right">Invoice No: {{invoiceno}}</div>
              </div>

              <div class="card-body" style="height: 100%">

                  <div class="conatiner-fluid">
                      <div class="row">
                          <div class="col-md-12">
                            <table class="table table-bordered w-100" >
                              <thead class="thead-light">
                                  <tr>
                                      <th>Order No</th>
                                      <th *ngIf="cartType=='service' || cartType=='astrology' || cartType=='virtual'">Service Name</th>
                                      <th *ngIf="cartType=='ecart'">Product Name</th>
                                      <th>Service Type</th>
                                      <th>Date</th>
                                      <th>Email Id</th>
                                      <th>Total</th>
                                      <th>Payment Method</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of orderdetails;let i=index">
                                      <td>{{item.orderNo}}</td>
                                      <td>{{item.serviceName}}</td>
                                      <td>
                                        <span *ngIf="cartType=='service'">Pooja</span>
                                        <span *ngIf="cartType=='astrology'">Astrology</span>
                                        <span *ngIf="cartType=='virtual'">Virtual Online</span>
                                        <span *ngIf="cartType=='ecart'">Product</span>
                                      </td>
                                      <td>{{item.paymentDate}}</td>
                                      <td>{{item.emailId}}</td>
                                      <td>{{item.total}}</td>
                                      <td>{{item.modeofPayment}}</td>
                                  </tr>

                              </tbody>
                            </table>
                          </div>

                      </div>
                  </div>

              </div>
              <div class="card-footer">

                <button type="button" class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="active">Back to Home</button>

            </div>
          </div>
      </div>
      </div>


</div>
</div>

<app-footer></app-footer>
