USE [master]
GO
/****** Object:  Database [Brahmasmi]    Script Date: 10/19/2020 12:47:56 PM ******/
CREATE DATABASE [Brahmasmi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brahmasmi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Brahmasmi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Brahmasmi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Brahmasmi_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Brahmasmi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Brahmasmi]
GO
/****** Object:  UserDefinedTableType [dbo].[testtype]    Script Date: 10/19/2020 12:47:56 PM ******/
CREATE TYPE [dbo].[testtype] AS TABLE(
	[ActivityName] [varchar](50) NULL,
	[Rating] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TT_VendorCertifications]    Script Date: 10/19/2020 12:47:56 PM ******/
CREATE TYPE [dbo].[TT_VendorCertifications] AS TABLE(
	[VendorID] [int] NULL,
	[CertificationID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TT_VendorRelationShip]    Script Date: 10/19/2020 12:47:56 PM ******/
CREATE TYPE [dbo].[TT_VendorRelationShip] AS TABLE(
	[RelationShipName] [nvarchar](50) NULL,
	[VendorID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TT_VendorSocialNetworks]    Script Date: 10/19/2020 12:47:56 PM ******/
CREATE TYPE [dbo].[TT_VendorSocialNetworks] AS TABLE(
	[VendorID] [int] NULL,
	[SocialNetworkID] [int] NULL,
	[SocialNetworkURL] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TT_VendorSpecialization]    Script Date: 10/19/2020 12:47:56 PM ******/
CREATE TYPE [dbo].[TT_VendorSpecialization] AS TABLE(
	[VendorID] [int] NULL,
	[SpecializationName] [int] NULL
)
GO
/****** Object:  Table [dbo].[Login]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[MobileNumber] [varchar](50) NULL,
	[Password] [varchar](256) NULL,
	[FirstName] [varchar](150) NULL,
	[LastName] [varchar](150) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBadge]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBadge](
	[BadgeID] [int] IDENTITY(1,1) NOT NULL,
	[BadgeName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblBadge] PRIMARY KEY CLUSTERED 
(
	[BadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBilling]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBilling](
	[BillingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[UserId] [int] NULL,
	[BillingAddress] [nvarchar](100) NULL,
	[CityId] [int] NULL,
	[PinCode] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBooking]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBooking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingDate] [datetime] NULL,
	[VendorID] [int] NULL,
	[BookingType] [nvarchar](50) NULL,
	[ServiceTypeID] [int] NULL,
	[ServiceID] [int] NULL,
	[BookingStatusID] [int] NULL,
	[UserID] [int] NULL,
	[BookingLocation] [nvarchar](150) NULL,
	[PaymentID] [int] NULL,
	[RatingsID] [int] NULL,
	[ReviewComments] [nvarchar](250) NULL,
	[BookingTime] [time](7) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[PACKAGEID] [int] NULL,
	[ORDERNO] [nvarchar](50) NULL,
	[BOOKINGAMOUNT] [int] NULL,
	[TimeIn] [time](7) NULL,
	[TimeOut] [time](7) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBookingStatus]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBookingStatus](
	[BookingStatusID] [int] IDENTITY(1,1) NOT NULL,
	[BookingStatusName] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblBookingStatus] PRIMARY KEY CLUSTERED 
(
	[BookingStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCertifications]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCertifications](
	[CertificationID] [int] IDENTITY(1,1) NOT NULL,
	[CertificationName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblCertifications] PRIMARY KEY CLUSTERED 
(
	[CertificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCity](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[StateID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCountries]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblCountries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFAQ]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFAQ](
	[FAQID] [int] IDENTITY(1,1) NOT NULL,
	[FAQ] [nvarchar](150) NULL,
	[FAQAnswer] [nvarchar](150) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblFAQ] PRIMARY KEY CLUSTERED 
(
	[FAQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKeyInsights]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKeyInsights](
	[InsightsID] [int] IDENTITY(1,1) NOT NULL,
	[InsightName] [nvarchar](150) NULL,
	[ServiceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblKeyInsights] PRIMARY KEY CLUSTERED 
(
	[InsightsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLanguage]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLanguage](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblLanguage] PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblModeOfPayment]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModeOfPayment](
	[ModeOfPaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ModeOfPayment] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblModeOfPayment] PRIMARY KEY CLUSTERED 
(
	[ModeOfPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNetBanking]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNetBanking](
	[NetbankingID] [int] IDENTITY(1,1) NOT NULL,
	[NetBankingName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNetBanking] PRIMARY KEY CLUSTERED 
(
	[NetbankingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOccupation]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOccupation](
	[OccupationID] [int] IDENTITY(1,1) NOT NULL,
	[OccupationName] [nvarchar](70) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblOccupation] PRIMARY KEY CLUSTERED 
(
	[OccupationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPackages]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPackages](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](200) NULL,
	[ServiceId] [int] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_tblPackages] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPatient]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPatient](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [nvarchar](50) NULL,
	[PatientIllness] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ModeofPaymentID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[VendorID] [int] NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[INVOICENO] [nvarchar](50) NULL,
	[BOOKINGID] [int] NULL,
 CONSTRAINT [PK_tblPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPaymentHistory]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaymentHistory](
	[PaymentHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[InvoiceNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblPaymentHistory] PRIMARY KEY CLUSTERED 
(
	[PaymentHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPaymentStatus]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaymentStatus](
	[PaymentStatusId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentStatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPoojaItem]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoojaItem](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[ItemPrice] [int] NULL,
	[PackageId] [int] NULL,
	[ServiceId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProcedure]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProcedure](
	[ProcedureId] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureName] [nvarchar](50) NULL,
	[PackageId] [int] NULL,
	[ServiceId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRatings]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRatings](
	[RatingsID] [int] IDENTITY(1,1) NOT NULL,
	[RatingName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblRatings] PRIMARY KEY CLUSTERED 
(
	[RatingsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRelationShip]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRelationShip](
	[RelationShipID] [int] IDENTITY(1,1) NOT NULL,
	[RelationShipName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[VendorID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblRelationShip] PRIMARY KEY CLUSTERED 
(
	[RelationShipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblService]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblService](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTypeID] [int] NULL,
	[ServiceName] [nvarchar](100) NULL,
	[Service_Short_Description] [nvarchar](2000) NULL,
	[Service_Long_Description] [nvarchar](2000) NULL,
	[Keyword] [nvarchar](100) NULL,
	[ServiceImage] [image] NULL,
	[ServiceImageFile] [nvarchar](200) NULL,
 CONSTRAINT [PK_tblService] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblServiceCity]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceCity](
	[ServiceCityId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NULL,
	[CityId] [int] NULL,
	[IsDelete] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblServiceType]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceType](
	[ServiceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTypeName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ServiceTypeImage] [image] NULL,
 CONSTRAINT [PK_tblServiceType] PRIMARY KEY CLUSTERED 
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblServiceTypeCity]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceTypeCity](
	[ServiceTypeCityId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTypeId] [int] NULL,
	[CityId] [int] NULL,
	[IsDelete] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceTypeCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSocialNetwork]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSocialNetwork](
	[SocialNetworkID] [int] IDENTITY(1,1) NOT NULL,
	[SocialNetworkName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblSocialNetwork] PRIMARY KEY CLUSTERED 
(
	[SocialNetworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSpecialization]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSpecialization](
	[SpecializationID] [int] IDENTITY(1,1) NOT NULL,
	[SpecializationName] [nvarchar](50) NULL,
	[VendorID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblSpecialization] PRIMARY KEY CLUSTERED 
(
	[SpecializationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[CountryID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblState] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTitle]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTitle](
	[TitleID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblTitle] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NULL,
	[CityID] [int] NULL,
	[CountryID] [int] NULL,
	[LanguageID] [int] NULL,
	[StateID] [int] NULL,
	[CountryCode] [nvarchar](50) NULL,
	[User_MobileNumber] [nvarchar](50) NULL,
	[User_Name] [nvarchar](50) NULL,
	[User_EmailID] [nvarchar](100) NULL,
	[User_Address1] [nvarchar](500) NULL,
	[User_Address2] [nvarchar](500) NULL,
	[User_Address3] [nvarchar](500) NULL,
	[User_PinCode] [nvarchar](50) NULL,
	[User_Latitude] [nvarchar](50) NULL,
	[User_Longitude] [nvarchar](50) NULL,
	[User_Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserHistory]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[UserLoginDate] [datetime] NULL,
	[UserLogOffDate] [datetime] NULL,
	[User_Latitude] [nvarchar](50) NULL,
	[User_Longitude] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUserHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserType]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserType](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVendor]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVendor](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NULL,
	[CityID] [int] NULL,
	[CountryID] [int] NULL,
	[TitleID] [int] NULL,
	[CertificationID] [int] NULL,
	[FamilyID] [int] NULL,
	[LanguageID] [int] NULL,
	[StateID] [int] NULL,
	[Vendor_PassportNumber] [nvarchar](50) NULL,
	[Vendor_MobileNumber] [nvarchar](50) NULL,
	[Vendor_Address1] [nvarchar](500) NULL,
	[Vendor_PinCode1] [nvarchar](50) NULL,
	[NewMemberShip] [nvarchar](50) NULL,
	[Renewal] [nvarchar](50) NULL,
	[MemberShipDate] [datetime] NULL,
	[RenewalDate] [datetime] NULL,
	[Vendor_FirstName] [nvarchar](50) NULL,
	[Vendor_Address2] [nvarchar](500) NULL,
	[Vendor_PinCode2] [nvarchar](50) NULL,
	[Vendor_Address3] [nvarchar](500) NULL,
	[Vendor_MiddleName] [nvarchar](50) NULL,
	[Vendor_LastName] [nvarchar](50) NULL,
	[Vendor_NickName] [nvarchar](50) NULL,
	[Vendor_Gothram] [nvarchar](50) NULL,
	[Vendor_FatherName] [nvarchar](50) NULL,
	[Vendor_Height] [decimal](18, 2) NULL,
	[Vendor_Weight] [decimal](18, 2) NULL,
	[Vendor_DOB] [datetime] NULL,
	[Vendor_PlaceofBirth] [nvarchar](50) NULL,
	[Vendor_AlternateNumber] [nvarchar](50) NULL,
	[Vendor_EmailID] [nvarchar](50) NULL,
	[Vendor_PANNumber] [nvarchar](50) NULL,
	[Vendor_AadharNumber] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Vendor_Latitude] [nvarchar](50) NULL,
	[Vendor_Longitude] [nvarchar](50) NULL,
	[Vendor_Status] [nvarchar](50) NULL,
	[Vendor_Abroad] [nvarchar](50) NULL,
	[Photo] [image] NULL,
	[Vendor_Age] [int] NULL,
	[Vendor_IdentificationMark1] [nvarchar](150) NULL,
	[Vendor_IdentificationMark2] [nvarchar](150) NULL,
	[Vendor_BankName] [nvarchar](50) NULL,
	[Vendor_BankBranch] [nvarchar](50) NULL,
	[Vendor_AccountNumber] [nvarchar](50) NULL,
	[Vendor_IFSCCode] [nvarchar](50) NULL,
	[Vendor_MICRCode] [nvarchar](50) NULL,
	[Vendor_NameOnPassBook] [nvarchar](50) NULL,
	[Vendor_Gender] [nvarchar](10) NULL,
	[Vendor_Occupation] [nvarchar](50) NULL,
	[Vendor_EmergencyContactPerson] [nvarchar](50) NULL,
	[Vendor_EmergencyContactNumber] [nvarchar](50) NULL,
	[Vendor_AreasOfActivity] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblVendor] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVendorCertifications]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVendorCertifications](
	[VendorCertificationID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[CertificationID] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblVendorCertifications] PRIMARY KEY CLUSTERED 
(
	[VendorCertificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVendorEnquiry]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVendorEnquiry](
	[EnquiryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[EmailID] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Createdate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CityID] [int] NULL,
 CONSTRAINT [PK_tblVendorEnquiry] PRIMARY KEY CLUSTERED 
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVendorService]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVendorService](
	[VendorServiceId] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NULL,
	[ServiceId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVendorSocialNetwork]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVendorSocialNetwork](
	[VendorSocialNetworkID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[SocialNetworkID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[SocialNetworkURL] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblVendorSocialNetwork] PRIMARY KEY CLUSTERED 
(
	[VendorSocialNetworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] NULL,
	[ActivityName] [nvarchar](50) NULL,
	[Rating] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorRegistration]    Script Date: 10/19/2020 12:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Contact] [varchar](50) NULL,
	[Qualification] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[test] [nvarchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_VendorRegistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBilling] ON 

INSERT [dbo].[tblBilling] ([BillingId], [BookingId], [UserId], [BillingAddress], [CityId], [PinCode], [CreatedDate], [UpdatedDate]) VALUES (38, 51, 22, N'ssss', 1, N'4444535', CAST(N'2020-10-02T18:34:46.020' AS DateTime), CAST(N'2020-10-02T18:34:46.020' AS DateTime))
INSERT [dbo].[tblBilling] ([BillingId], [BookingId], [UserId], [BillingAddress], [CityId], [PinCode], [CreatedDate], [UpdatedDate]) VALUES (39, 52, 24, NULL, 1, NULL, CAST(N'2020-10-06T22:03:52.047' AS DateTime), CAST(N'2020-10-06T22:03:52.047' AS DateTime))
INSERT [dbo].[tblBilling] ([BillingId], [BookingId], [UserId], [BillingAddress], [CityId], [PinCode], [CreatedDate], [UpdatedDate]) VALUES (40, 53, 25, N'Panjagutta', 1, N'546646', CAST(N'2020-10-11T16:54:46.267' AS DateTime), CAST(N'2020-10-11T16:54:46.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblBilling] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBooking] ON 

INSERT [dbo].[tblBooking] ([BookingID], [BookingDate], [VendorID], [BookingType], [ServiceTypeID], [ServiceID], [BookingStatusID], [UserID], [BookingLocation], [PaymentID], [RatingsID], [ReviewComments], [BookingTime], [CreatedDate], [UpdatedDate], [PACKAGEID], [ORDERNO], [BOOKINGAMOUNT], [TimeIn], [TimeOut]) VALUES (49, CAST(N'2020-10-03T11:32:45.610' AS DateTime), 1, N'User Booking', 1, 1, 1, 2, N'Hitech city', NULL, NULL, NULL, CAST(N'17:39:00' AS Time), CAST(N'2020-09-30T17:39:38.740' AS DateTime), CAST(N'2020-10-06T22:20:03.950' AS DateTime), 1, N'VBXCWDQB', 2000, NULL, NULL)
INSERT [dbo].[tblBooking] ([BookingID], [BookingDate], [VendorID], [BookingType], [ServiceTypeID], [ServiceID], [BookingStatusID], [UserID], [BookingLocation], [PaymentID], [RatingsID], [ReviewComments], [BookingTime], [CreatedDate], [UpdatedDate], [PACKAGEID], [ORDERNO], [BOOKINGAMOUNT], [TimeIn], [TimeOut]) VALUES (50, CAST(N'2020-10-01T00:00:00.000' AS DateTime), 2, N'User Booking', 1, 2, 1, 2, N'Hitech city', NULL, NULL, NULL, CAST(N'05:40:00' AS Time), CAST(N'2020-09-30T17:40:47.667' AS DateTime), CAST(N'2020-09-30T18:16:11.130' AS DateTime), 4, N'OMMKMEXA', 9000, NULL, NULL)
INSERT [dbo].[tblBooking] ([BookingID], [BookingDate], [VendorID], [BookingType], [ServiceTypeID], [ServiceID], [BookingStatusID], [UserID], [BookingLocation], [PaymentID], [RatingsID], [ReviewComments], [BookingTime], [CreatedDate], [UpdatedDate], [PACKAGEID], [ORDERNO], [BOOKINGAMOUNT], [TimeIn], [TimeOut]) VALUES (51, CAST(N'2020-10-02T00:00:00.000' AS DateTime), 1, N'User Booking', 1, 1, 3, 22, N'ssss', NULL, NULL, N'dd', CAST(N'18:35:00' AS Time), CAST(N'2020-10-02T18:34:45.997' AS DateTime), CAST(N'2020-10-06T22:02:50.873' AS DateTime), 1, N'FAPJNWCE', 2000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblBooking] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBookingStatus] ON 

INSERT [dbo].[tblBookingStatus] ([BookingStatusID], [BookingStatusName], [CreatedDate], [ModifiedDate]) VALUES (1, N'Request Created
', CAST(N'2020-09-09T14:56:27.570' AS DateTime), NULL)
INSERT [dbo].[tblBookingStatus] ([BookingStatusID], [BookingStatusName], [CreatedDate], [ModifiedDate]) VALUES (2, N'Request Accepted
', CAST(N'2020-09-09T14:56:35.380' AS DateTime), NULL)
INSERT [dbo].[tblBookingStatus] ([BookingStatusID], [BookingStatusName], [CreatedDate], [ModifiedDate]) VALUES (3, N'Request Ongoing
', CAST(N'2020-09-09T14:56:50.027' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblBookingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCertifications] ON 

INSERT [dbo].[tblCertifications] ([CertificationID], [CertificationName], [CreatedDate], [ModifiedDate]) VALUES (1, N'RIG-VEDA', CAST(N'2020-09-16T11:51:35.433' AS DateTime), NULL)
INSERT [dbo].[tblCertifications] ([CertificationID], [CertificationName], [CreatedDate], [ModifiedDate]) VALUES (2, N'SAMA-VEDA', CAST(N'2020-09-16T11:51:50.433' AS DateTime), NULL)
INSERT [dbo].[tblCertifications] ([CertificationID], [CertificationName], [CreatedDate], [ModifiedDate]) VALUES (3, N'YAJUR-VEDA', CAST(N'2020-09-16T11:52:09.767' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblCertifications] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCity] ON 

INSERT [dbo].[tblCity] ([CityID], [CityName], [StateID], [CreatedDate], [ModifiedDate]) VALUES (1, N'Hyderabad
', 2, CAST(N'2020-09-07T17:42:40.650' AS DateTime), NULL)
INSERT [dbo].[tblCity] ([CityID], [CityName], [StateID], [CreatedDate], [ModifiedDate]) VALUES (2, N'Warangal
', 2, CAST(N'2020-09-07T17:43:29.730' AS DateTime), NULL)
INSERT [dbo].[tblCity] ([CityID], [CityName], [StateID], [CreatedDate], [ModifiedDate]) VALUES (3, N'Mahabubnagar
', 2, CAST(N'2020-09-07T17:44:18.687' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblCity] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCountries] ON 

INSERT [dbo].[tblCountries] ([CountryID], [CountryName], [CountryCode], [CreatedDate], [ModifiedDate]) VALUES (1, N'India', N'91', CAST(N'2020-09-07T16:15:41.637' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblCountries] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKeyInsights] ON 

INSERT [dbo].[tblKeyInsights] ([InsightsID], [InsightName], [ServiceID], [CreatedDate], [ModifiedDate]) VALUES (1, N'Baby writes for the first time with lords blessing.', 1, CAST(N'2020-09-08T10:45:56.620' AS DateTime), NULL)
INSERT [dbo].[tblKeyInsights] ([InsightsID], [InsightName], [ServiceID], [CreatedDate], [ModifiedDate]) VALUES (2, N'It helps the baby to grow healthy and strong.', 1, CAST(N'2020-09-08T10:47:16.163' AS DateTime), NULL)
INSERT [dbo].[tblKeyInsights] ([InsightsID], [InsightName], [ServiceID], [CreatedDate], [ModifiedDate]) VALUES (3, N'Performed on any auspicious day after the child attains 2.5 yrs of age.', 1, CAST(N'2020-09-08T10:47:20.253' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[tblKeyInsights] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLanguage] ON 

INSERT [dbo].[tblLanguage] ([LanguageID], [LanguageName], [CreatedDate], [ModifiedDate]) VALUES (1, N'Telugu', CAST(N'2020-10-06T11:20:19.743' AS DateTime), CAST(N'2020-10-06T11:20:19.743' AS DateTime))
INSERT [dbo].[tblLanguage] ([LanguageID], [LanguageName], [CreatedDate], [ModifiedDate]) VALUES (2, N'Tamil', CAST(N'2020-10-06T11:20:27.170' AS DateTime), CAST(N'2020-10-06T11:20:27.170' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblLanguage] OFF
GO
SET IDENTITY_INSERT [dbo].[tblModeOfPayment] ON 

INSERT [dbo].[tblModeOfPayment] ([ModeOfPaymentID], [ModeOfPayment]) VALUES (1, N'CreditCard
')
INSERT [dbo].[tblModeOfPayment] ([ModeOfPaymentID], [ModeOfPayment]) VALUES (2, N'DebitCard
')
INSERT [dbo].[tblModeOfPayment] ([ModeOfPaymentID], [ModeOfPayment]) VALUES (3, N'paytm
')
SET IDENTITY_INSERT [dbo].[tblModeOfPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPackages] ON 

INSERT [dbo].[tblPackages] ([PackageID], [PackageName], [ServiceId], [Price]) VALUES (1, N'Economy', 1, 2000)
INSERT [dbo].[tblPackages] ([PackageID], [PackageName], [ServiceId], [Price]) VALUES (2, N'Standard', 1, 4000)
INSERT [dbo].[tblPackages] ([PackageID], [PackageName], [ServiceId], [Price]) VALUES (3, N'Premium', 1, 6000)
SET IDENTITY_INSERT [dbo].[tblPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPatient] ON 

INSERT [dbo].[tblPatient] ([PatientId], [PatientName], [PatientIllness]) VALUES (29, N'Mahesh1', N'Typhoid')
INSERT [dbo].[tblPatient] ([PatientId], [PatientName], [PatientIllness]) VALUES (30, N'Mahesh2', N'Typhoid')
INSERT [dbo].[tblPatient] ([PatientId], [PatientName], [PatientIllness]) VALUES (31, N'Mahesh3', N'Typhoid')
SET IDENTITY_INSERT [dbo].[tblPatient] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPayment] ON 

INSERT [dbo].[tblPayment] ([PaymentID], [UserID], [ModeofPaymentID], [PaymentDate], [PaymentStatus], [VendorID], [AmountPaid], [INVOICENO], [BOOKINGID]) VALUES (36, 2, 7, CAST(N'2020-09-30T17:39:38.747' AS DateTime), N'4', 1, CAST(2000.00 AS Decimal(18, 2)), N'XASCYRPDEP', 49)
INSERT [dbo].[tblPayment] ([PaymentID], [UserID], [ModeofPaymentID], [PaymentDate], [PaymentStatus], [VendorID], [AmountPaid], [INVOICENO], [BOOKINGID]) VALUES (37, 2, 4, CAST(N'2020-09-30T17:40:47.670' AS DateTime), N'4', 2, CAST(9000.00 AS Decimal(18, 2)), N'YTGVGHEZVE', 50)
INSERT [dbo].[tblPayment] ([PaymentID], [UserID], [ModeofPaymentID], [PaymentDate], [PaymentStatus], [VendorID], [AmountPaid], [INVOICENO], [BOOKINGID]) VALUES (38, 22, 4, CAST(N'2020-10-02T18:34:46.043' AS DateTime), N'4', 1, CAST(2000.00 AS Decimal(18, 2)), N'LLHQUSAUIY', 51)
SET IDENTITY_INSERT [dbo].[tblPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPaymentStatus] ON 

INSERT [dbo].[tblPaymentStatus] ([PaymentStatusId], [PaymentStatusName]) VALUES (1, N'Credited')
INSERT [dbo].[tblPaymentStatus] ([PaymentStatusId], [PaymentStatusName]) VALUES (2, N'Declined')
INSERT [dbo].[tblPaymentStatus] ([PaymentStatusId], [PaymentStatusName]) VALUES (3, N'Transaction Failed')
SET IDENTITY_INSERT [dbo].[tblPaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPoojaItem] ON 

INSERT [dbo].[tblPoojaItem] ([ItemId], [ItemName], [ItemPrice], [PackageId], [ServiceId]) VALUES (1, N'Pooja Items', 500, 1, 1)
INSERT [dbo].[tblPoojaItem] ([ItemId], [ItemName], [ItemPrice], [PackageId], [ServiceId]) VALUES (2, N'Pooja Items', 1000, 2, 1)
INSERT [dbo].[tblPoojaItem] ([ItemId], [ItemName], [ItemPrice], [PackageId], [ServiceId]) VALUES (4, N'Pooja Items', 600, 4, 2)
SET IDENTITY_INSERT [dbo].[tblPoojaItem] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProcedure] ON 

INSERT [dbo].[tblProcedure] ([ProcedureId], [ProcedureName], [PackageId], [ServiceId]) VALUES (1, N'Ganapathi Pooja', 1, 1)
INSERT [dbo].[tblProcedure] ([ProcedureId], [ProcedureName], [PackageId], [ServiceId]) VALUES (2, N'Ganapathi Pooja', 2, 1)
INSERT [dbo].[tblProcedure] ([ProcedureId], [ProcedureName], [PackageId], [ServiceId]) VALUES (3, N'Punyaha Vachanam', 1, 1)
SET IDENTITY_INSERT [dbo].[tblProcedure] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRatings] ON 

INSERT [dbo].[tblRatings] ([RatingsID], [RatingName], [CreatedDate], [ModifiedDate]) VALUES (1, N'1Star
', CAST(N'2020-09-09T14:55:40.787' AS DateTime), NULL)
INSERT [dbo].[tblRatings] ([RatingsID], [RatingName], [CreatedDate], [ModifiedDate]) VALUES (2, N'2Star
', CAST(N'2020-09-09T14:55:46.967' AS DateTime), NULL)
INSERT [dbo].[tblRatings] ([RatingsID], [RatingName], [CreatedDate], [ModifiedDate]) VALUES (3, N'3Star
', CAST(N'2020-09-09T14:55:49.707' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblRatings] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRelationShip] ON 

INSERT [dbo].[tblRelationShip] ([RelationShipID], [RelationShipName], [CreatedDate], [ModifiedDate], [VendorID], [Name], [Gender]) VALUES (1, N'Wife
', CAST(N'2020-09-09T14:54:13.287' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tblRelationShip] ([RelationShipID], [RelationShipName], [CreatedDate], [ModifiedDate], [VendorID], [Name], [Gender]) VALUES (2, N'Husband
', CAST(N'2020-09-09T14:54:31.053' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tblRelationShip] ([RelationShipID], [RelationShipName], [CreatedDate], [ModifiedDate], [VendorID], [Name], [Gender]) VALUES (3, N'Daughter
', CAST(N'2020-09-09T14:54:38.060' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblRelationShip] OFF
GO
SET IDENTITY_INSERT [dbo].[tblService] ON 

SET IDENTITY_INSERT [dbo].[tblService] OFF
GO
SET IDENTITY_INSERT [dbo].[tblServiceCity] ON 

INSERT [dbo].[tblServiceCity] ([ServiceCityId], [ServiceId], [CityId], [IsDelete]) VALUES (4, 1, 1, NULL)
INSERT [dbo].[tblServiceCity] ([ServiceCityId], [ServiceId], [CityId], [IsDelete]) VALUES (5, 2, 1, NULL)
INSERT [dbo].[tblServiceCity] ([ServiceCityId], [ServiceId], [CityId], [IsDelete]) VALUES (6, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[tblServiceCity] OFF
GO
SET IDENTITY_INSERT [dbo].[tblServiceType] ON 

SET IDENTITY_INSERT [dbo].[tblServiceType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblServiceTypeCity] ON 

INSERT [dbo].[tblServiceTypeCity] ([ServiceTypeCityId], [ServiceTypeId], [CityId], [IsDelete]) VALUES (1, 1, 1, N'N')
INSERT [dbo].[tblServiceTypeCity] ([ServiceTypeCityId], [ServiceTypeId], [CityId], [IsDelete]) VALUES (3, 2, 1, N'N')
INSERT [dbo].[tblServiceTypeCity] ([ServiceTypeCityId], [ServiceTypeId], [CityId], [IsDelete]) VALUES (4, 3, 1, N'N')
SET IDENTITY_INSERT [dbo].[tblServiceTypeCity] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSocialNetwork] ON 

INSERT [dbo].[tblSocialNetwork] ([SocialNetworkID], [SocialNetworkName], [CreatedDate], [ModifiedDate]) VALUES (1, N'FACEBOOK', CAST(N'2020-09-16T16:07:07.820' AS DateTime), NULL)
INSERT [dbo].[tblSocialNetwork] ([SocialNetworkID], [SocialNetworkName], [CreatedDate], [ModifiedDate]) VALUES (2, N'TWITTER', CAST(N'2020-09-16T16:07:42.020' AS DateTime), NULL)
INSERT [dbo].[tblSocialNetwork] ([SocialNetworkID], [SocialNetworkName], [CreatedDate], [ModifiedDate]) VALUES (3, N'SKYPE', CAST(N'2020-09-16T16:08:14.800' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblSocialNetwork] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSpecialization] ON 

INSERT [dbo].[tblSpecialization] ([SpecializationID], [SpecializationName], [VendorID], [CreatedDate], [ModifiedDate]) VALUES (1, N'0', 12, NULL, NULL)
INSERT [dbo].[tblSpecialization] ([SpecializationID], [SpecializationName], [VendorID], [CreatedDate], [ModifiedDate]) VALUES (2, N'0', 13, NULL, NULL)
INSERT [dbo].[tblSpecialization] ([SpecializationID], [SpecializationName], [VendorID], [CreatedDate], [ModifiedDate]) VALUES (3, N'0', 14, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblSpecialization] OFF
GO
SET IDENTITY_INSERT [dbo].[tblState] ON 

INSERT [dbo].[tblState] ([StateID], [StateName], [CountryID], [CreatedDate], [ModifiedDate]) VALUES (1, N'Andhra Pradesh', 1, CAST(N'2020-09-07T17:40:58.263' AS DateTime), NULL)
INSERT [dbo].[tblState] ([StateID], [StateName], [CountryID], [CreatedDate], [ModifiedDate]) VALUES (2, N'Telangana', 1, CAST(N'2020-09-07T17:41:07.193' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblState] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTitle] ON 

INSERT [dbo].[tblTitle] ([TitleID], [TitleName], [CreatedDate], [ModifiedDate]) VALUES (1, N'MR', CAST(N'2020-09-08T13:31:59.200' AS DateTime), NULL)
INSERT [dbo].[tblTitle] ([TitleID], [TitleName], [CreatedDate], [ModifiedDate]) VALUES (2, N'MRS', CAST(N'2020-09-08T13:32:03.403' AS DateTime), NULL)
INSERT [dbo].[tblTitle] ([TitleID], [TitleName], [CreatedDate], [ModifiedDate]) VALUES (3, N'MISS', CAST(N'2020-09-08T13:32:06.373' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblTitle] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserID], [UserTypeID], [CityID], [CountryID], [LanguageID], [StateID], [CountryCode], [User_MobileNumber], [User_Name], [User_EmailID], [User_Address1], [User_Address2], [User_Address3], [User_PinCode], [User_Latitude], [User_Longitude], [User_Status], [CreatedDate], [ModifiedDate]) VALUES (1, 1, 1, NULL, NULL, NULL, NULL, N'88888888', N'Farooq', N'farooqvisual@gmail.com', N'Secunderabad', NULL, NULL, N'500339', NULL, NULL, N'1', CAST(N'2020-09-10T21:56:08.150' AS DateTime), CAST(N'2020-10-12T08:04:06.460' AS DateTime))
INSERT [dbo].[tblUser] ([UserID], [UserTypeID], [CityID], [CountryID], [LanguageID], [StateID], [CountryCode], [User_MobileNumber], [User_Name], [User_EmailID], [User_Address1], [User_Address2], [User_Address3], [User_PinCode], [User_Latitude], [User_Longitude], [User_Status], [CreatedDate], [ModifiedDate]) VALUES (2, 1, 1, 1, NULL, 2, NULL, N'3939339', N'john', N'john1@gmail.com', N'dff', NULL, NULL, N'44444', NULL, NULL, N'1', CAST(N'2020-09-10T22:01:39.320' AS DateTime), CAST(N'2020-10-18T13:18:27.153' AS DateTime))
INSERT [dbo].[tblUser] ([UserID], [UserTypeID], [CityID], [CountryID], [LanguageID], [StateID], [CountryCode], [User_MobileNumber], [User_Name], [User_EmailID], [User_Address1], [User_Address2], [User_Address3], [User_PinCode], [User_Latitude], [User_Longitude], [User_Status], [CreatedDate], [ModifiedDate]) VALUES (3, NULL, 1, NULL, NULL, NULL, NULL, N'222222', N'Satish', N'john2@gmail.com', N'Hitech city', NULL, NULL, N'2332333', NULL, NULL, NULL, CAST(N'2020-09-10T22:03:25.063' AS DateTime), CAST(N'2020-10-18T12:59:34.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserType] ON 

INSERT [dbo].[tblUserType] ([UserTypeID], [UserTypeName], [CreatedDate], [ModifiedDate]) VALUES (1, N'User
', CAST(N'2020-09-09T14:51:40.870' AS DateTime), NULL)
INSERT [dbo].[tblUserType] ([UserTypeID], [UserTypeName], [CreatedDate], [ModifiedDate]) VALUES (2, N'Vendor
', CAST(N'2020-09-09T14:51:49.677' AS DateTime), NULL)
INSERT [dbo].[tblUserType] ([UserTypeID], [UserTypeName], [CreatedDate], [ModifiedDate]) VALUES (3, N'SuperAdmin
', CAST(N'2020-09-09T14:51:58.107' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblUserType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVendor] ON 

SET IDENTITY_INSERT [dbo].[tblVendor] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVendorCertifications] ON 

INSERT [dbo].[tblVendorCertifications] ([VendorCertificationID], [VendorID], [CertificationID], [CreatedDate]) VALUES (1, 2, 1, NULL)
INSERT [dbo].[tblVendorCertifications] ([VendorCertificationID], [VendorID], [CertificationID], [CreatedDate]) VALUES (2, 3, 1, CAST(N'2020-09-29T15:49:27.323' AS DateTime))
INSERT [dbo].[tblVendorCertifications] ([VendorCertificationID], [VendorID], [CertificationID], [CreatedDate]) VALUES (3, 3, 2, CAST(N'2020-09-29T15:49:27.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblVendorCertifications] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVendorEnquiry] ON 

INSERT [dbo].[tblVendorEnquiry] ([EnquiryID], [Name], [MobileNumber], [EmailID], [Description], [Createdate], [ModifiedDate], [CityID]) VALUES (1, N'Ganesh', N'34343443', N'Ganesh@gmail.com', N'dfgdfd', CAST(N'2020-09-28T22:45:09.280' AS DateTime), NULL, 1)
INSERT [dbo].[tblVendorEnquiry] ([EnquiryID], [Name], [MobileNumber], [EmailID], [Description], [Createdate], [ModifiedDate], [CityID]) VALUES (2, N'Suresh', N'34243242', N'sure@gmail.com', N'dfgfdg', CAST(N'2020-09-28T22:48:13.043' AS DateTime), NULL, 1)
INSERT [dbo].[tblVendorEnquiry] ([EnquiryID], [Name], [MobileNumber], [EmailID], [Description], [Createdate], [ModifiedDate], [CityID]) VALUES (3, N'Sai ', N'666666', N'sai@gmail.com', N'xcxxc', CAST(N'2020-10-02T18:53:36.707' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[tblVendorEnquiry] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVendorService] ON 

INSERT [dbo].[tblVendorService] ([VendorServiceId], [VendorId], [ServiceId]) VALUES (1, 1, 1)
INSERT [dbo].[tblVendorService] ([VendorServiceId], [VendorId], [ServiceId]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[tblVendorService] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVendorSocialNetwork] ON 

INSERT [dbo].[tblVendorSocialNetwork] ([VendorSocialNetworkID], [VendorID], [SocialNetworkID], [CreatedDate], [SocialNetworkURL]) VALUES (1, 6, 1, NULL, N'facebookrocky')
INSERT [dbo].[tblVendorSocialNetwork] ([VendorSocialNetworkID], [VendorID], [SocialNetworkID], [CreatedDate], [SocialNetworkURL]) VALUES (2, 6, 2, NULL, N'twitterrocky')
INSERT [dbo].[tblVendorSocialNetwork] ([VendorSocialNetworkID], [VendorID], [SocialNetworkID], [CreatedDate], [SocialNetworkURL]) VALUES (3, 6, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblVendorSocialNetwork] OFF
GO
INSERT [dbo].[test] ([id], [ActivityName], [Rating]) VALUES (1, N'swimming', 5)
INSERT [dbo].[test] ([id], [ActivityName], [Rating]) VALUES (4, N'ayodhya', 2)
GO
ALTER TABLE [dbo].[tblBadge] ADD  CONSTRAINT [DF_tblBadge_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblBookingStatus] ADD  CONSTRAINT [DF_tblBookingStatus_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblCertifications] ADD  CONSTRAINT [DF_tblCertifications_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblCity] ADD  CONSTRAINT [DF_tblCity_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblCountries] ADD  CONSTRAINT [DF_tblCountries_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblFAQ] ADD  CONSTRAINT [DF_tblFAQ_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblKeyInsights] ADD  CONSTRAINT [DF_tblKeyInsights_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblLanguage] ADD  CONSTRAINT [DF_tblLanguage_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblRatings] ADD  CONSTRAINT [DF_tblRatings_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblRelationShip] ADD  CONSTRAINT [DF_tblRelationShip_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblServiceType] ADD  CONSTRAINT [DF_tblServiceType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblServiceTypeCity] ADD  DEFAULT ('N') FOR [IsDelete]
GO
ALTER TABLE [dbo].[tblSocialNetwork] ADD  CONSTRAINT [DF_tblSocialNetwork_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblState] ADD  CONSTRAINT [DF_tblState_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblTitle] ADD  CONSTRAINT [DF_tblTitle_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF_tblUser_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblUserHistory] ADD  CONSTRAINT [DF_tblUserHistory_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblUserType] ADD  CONSTRAINT [DF_tblUserType_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblVendor] ADD  CONSTRAINT [DF_tblVendor_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblVendorEnquiry] ADD  CONSTRAINT [DF_tblVendorEnquiry_Createdate]  DEFAULT (getdate()) FOR [Createdate]
GO
ALTER TABLE [dbo].[tblBooking]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_tblBookingStatus] FOREIGN KEY([BookingStatusID])
REFERENCES [dbo].[tblBookingStatus] ([BookingStatusID])
GO
ALTER TABLE [dbo].[tblBooking] CHECK CONSTRAINT [FK_Table_1_tblBookingStatus]
GO
ALTER TABLE [dbo].[tblBooking]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_tblRatings] FOREIGN KEY([RatingsID])
REFERENCES [dbo].[tblRatings] ([RatingsID])
GO
ALTER TABLE [dbo].[tblBooking] CHECK CONSTRAINT [FK_Table_1_tblRatings]
GO
ALTER TABLE [dbo].[tblBooking]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_tblService] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tblService] ([ServiceID])
GO
ALTER TABLE [dbo].[tblBooking] CHECK CONSTRAINT [FK_Table_1_tblService]
GO
ALTER TABLE [dbo].[tblBooking]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_tblServiceType] FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[tblServiceType] ([ServiceTypeID])
GO
ALTER TABLE [dbo].[tblBooking] CHECK CONSTRAINT [FK_Table_1_tblServiceType]
GO
ALTER TABLE [dbo].[tblCity]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[tblState] ([StateID])
GO
ALTER TABLE [dbo].[tblKeyInsights]  WITH CHECK ADD  CONSTRAINT [FK_tblKeyInsights_tblService] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tblService] ([ServiceID])
GO
ALTER TABLE [dbo].[tblKeyInsights] CHECK CONSTRAINT [FK_tblKeyInsights_tblService]
GO
ALTER TABLE [dbo].[tblService]  WITH CHECK ADD  CONSTRAINT [FK_tblService_tblServiceType] FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[tblServiceType] ([ServiceTypeID])
GO
ALTER TABLE [dbo].[tblService] CHECK CONSTRAINT [FK_tblService_tblServiceType]
GO
ALTER TABLE [dbo].[tblState]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[tblCountries] ([CountryID])
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblCity] FOREIGN KEY([CityID])
REFERENCES [dbo].[tblCity] ([CityID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblCity]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblCountries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[tblCountries] ([CountryID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblCountries]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblLanguage] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[tblLanguage] ([LanguageID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblLanguage]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblState] FOREIGN KEY([StateID])
REFERENCES [dbo].[tblState] ([StateID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblState]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblUserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[tblUserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblUserType]
GO
ALTER TABLE [dbo].[VendorRegistration]  WITH CHECK ADD  CONSTRAINT [FK_VendorRegistration_tblUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[VendorRegistration] CHECK CONSTRAINT [FK_VendorRegistration_tblUser]
GO
/****** Object:  StoredProcedure [dbo].[InsertVendor]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertVendor]  
(
@Name nvarchar(50),
@Email nvarchar(250),
@Contact varchar(50),
@Qualification nvarchar(100),

@Password nvarchar(50)
)
AS  
BEGIN  
     Insert into VendorRegistration(Name,Email,Contact,Qualification,Password) values(@Name,@Email,@Contact,@Qualification,@Password)  
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_Admin_GetVendorEnquiry]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Admin_GetVendorEnquiry]  
  
AS    
BEGIN    
     SELECT  Name,MobileNumber,EmailID,CityName,v.CityID from dbo.tblVendorEnquiry v inner join tblCity c on c.CityID=v.CityID  order by Createdate desc
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_ADMINDASHBOARD]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ADMINDASHBOARD]
(
@STATUSID INT NULL,
@BOOKINGDATE NVARCHAR(50) NULL
)
AS
BEGIN
print @STATUSID
print @BOOKINGDATE
IF(@STATUSID <> 0)
BEGIN
SELECT BK.BookingStatusID,BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,BK.BOOKINGLOCATION,CONVERT(VARCHAR,BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS 
ON	BK.BookingStatusID=BS.BookingStatusID 
WHERE BK.BookingStatusID=@STATUSID ORDER BY BK.UpdatedDate DESC
END
ELSE IF(@BOOKINGDATE IS NOT NULL AND @BOOKINGDATE <> 'NULL')
BEGIN
SELECT BK.BookingStatusID,BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,BK.BOOKINGLOCATION,CONVERT(VARCHAR,BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS 
ON	BK.BookingStatusID=BS.BookingStatusID 
WHERE BK.BookingDate=convert(date,@BOOKINGDATE,102) ORDER BY BK.UpdatedDate DESC
END
ELSE
BEGIN
SELECT BK.BOOKINGAMOUNT, M.MODEOFPAYMENT as PAYMENTMODE, BK.BookingStatusID,BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,BK.BOOKINGLOCATION,CONVERT(VARCHAR,BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS 
ON	BK.BookingStatusID=BS.BookingStatusID JOIN DBO.TBLPAYMENT P ON BK.BookingID=P.BOOKINGID JOIN DBO.TBLMODEOFPAYMENT M ON P.MODEOFPAYMENTID=M.MODEOFPAYMENTID
 ORDER BY BK.UpdatedDate DESC
END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGEBOOKINGSTATUS]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHANGEBOOKINGSTATUS]  
(  
@BOOKINGID INT,  
@BOOKINGSTATUSID INT  
)  
AS  
BEGIN  
BEGIN TRY  
UPDATE DBO.TBLBOOKING SET BOOKINGSTATUSID=@BOOKINGSTATUSID,UpdatedDate=GETDATE(),
TimeIn=CASE WHEN @BOOKINGSTATUSID = 3 THEN GETDATE() ELSE  TimeIn END,
TimeOut=CASE WHEN @BOOKINGSTATUSID = 6 THEN GETDATE() ELSE TimeOut END
WHERE BOOKINGID=@BOOKINGID  
RETURN 1  
END TRY  
BEGIN CATCH  
RETURN 0  
END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_Service]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Delete_Service]  
(
@ServiceID int,@CityID int
)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY 
   UPDATE tblServiceCity SET IsDelete='Y' WHERE ServiceID=@ServiceID and CityID=@CityID
return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_ServiceType]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Delete_ServiceType]  
(
@ServiceTypeID int,@CityID int
)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY 
   UPDATE tblServiceTypeCity SET IsDelete='Y' WHERE ServiceTypeID=@ServiceTypeID and CityID=@CityID
return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_AllCities]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_AllCities]

AS  
BEGIN  
     SELECT CityID,CityName from tblCity 
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_AllService]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_AllService]

AS  
BEGIN  
     SELECT tblService.ServiceID,tblService.ServiceTypeID,tblServiceCity.CityID,
	 CityName,ServiceTypeName,ServiceName,ServiceImage,ServiceImageFile
	 ,Service_Short_Description,Service_Long_Description from 
	 tblService inner join tblServiceType on tblServiceType.ServiceTypeID=tblService.ServiceTypeID
	  left outer join tblServiceCity on  tblService.ServiceID=tblServiceCity.ServiceID
	  inner join tblCity on tblCity.CityID=tblServiceCity.CityID
	 where tblServiceCity.IsDelete='N'
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_AllServiceTypes]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_AllServiceTypes]

AS  
BEGIN  
     SELECT tblServiceType.ServiceTypeID,ServiceTypeImage,CityName,ServiceTypeName,tblServiceTypeCity.CityID from tblServiceType
	 left outer join tblServiceTypeCity on  tblServiceType.ServiceTypeID=tblServiceTypeCity.ServiceTypeID
	  inner join tblCity on tblCity.CityID=tblServiceTypeCity.CityID where tblServiceTypeCity.IsDelete='N'
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_AllVendors]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_AllVendors]

AS  
BEGIN  
     SELECT VendorID,concat(Vendor_FirstName+' ',Vendor_MiddleName+' ',Vendor_LastName) as Vendor_FirstName,Vendor_MobileNumber,
	 Vendor_Address1,Vendor_Latitude,Vendor_Longitude,Photo from dbo.tblVendor 
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Certifications]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_Certifications]

AS  
BEGIN  
     SELECT CertificationID,CertificationName from tblCertifications
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Cities]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_Cities]  
(  
@StateID int  
)  
AS    
BEGIN 
	if(@StateID <> 0)
	begin
     SELECT CityID,CityName from tblCity where StateID=@StateID  
	end
	else
	begin
		SELECT CityID,CityName from tblCity
	end
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Languages]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_Get_Languages]

AS  
BEGIN  
     SELECT LanguageID,LanguageName from tblLanguage
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_ModeOfPayment]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_Get_ModeOfPayment]

AS  
BEGIN  
     SELECT ModeOfPaymentID,ModeOfPayment from tblModeOfPayment
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Occupation]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_Occupation]

AS  
BEGIN  
     SELECT OccupationID,OccupationName from tblOccupation
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_ServiceTypeCity]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_ServiceTypeCity]
(@ServiceTypeID int)
AS  
BEGIN  
     SELECT distinct tblServiceTypeCity.CityID,CityName from tblServiceTypeCity
	 inner join tblCity on tblCity.CityID=tblServiceTypeCity.CityID where ServiceTypeID=@ServiceTypeID
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_SocialNetwork]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_SocialNetwork]

AS  
BEGIN  
     SELECT SocialNetworkID,SocialNetworkName from tblSocialNetwork
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_States]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Get_States]

AS  
BEGIN  
     SELECT StateID,StateName from tblState where CountryID=1
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Title]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_Get_Title]

AS  
BEGIN  
     SELECT TitleID,TitleName from tblTitle
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_User]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_User]  
(  
@User_MobileNumber nvarchar(50)  
)  
AS    
BEGIN    
     SELECT UserID,UserTypeID,User_MobileNumber  from dbo.tblUser where User_MobileNumber=@User_MobileNumber and User_Status=1 
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_UserDetails]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_UserDetails]  
(  
@UserID int  
)  
AS    
BEGIN    
     SELECT UserID,User_Name,User_MobileNumber,tblUser.StateID,StateName,tblUser.CityID,CityName,User_EmailID,  
    User_Address1,User_PinCode,tblUser.CountryID,CountryName from tblUser  
    left join tblState on tblState.StateID=tblUser.StateID  
    left join tblCity on tblCity.CityID=tblUser.CityID  
    left join tblCountries on tblCountries.CountryID=tblUser.CountryID  
     where UserID=@UserID
END   
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Vendor]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_Vendor]  
(  
@Vendor_MobileNumber nvarchar(50)  
)  
AS    
BEGIN    
     SELECT VendorID,UserTypeID, Vendor_MobileNumber  from dbo.tblVendor where Vendor_MobileNumber=@Vendor_MobileNumber and Vendor_Status=1
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_GETORDERDETAILS]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETORDERDETAILS]
(
@USERID INT NULL,
@BOOKINGID INT NULL,
@ORDERNO NVARCHAR(50) NULL,
@INVOICENO  NVARCHAR(50) NULL
)
AS
BEGIN
SELECT S.SERVICENAME,B.ORDERNO,CONVERT(VARCHAR,P.PAYMENTDATE,103) AS PAYMENTDATE,U.USER_EMAILID AS EMAILID,P.AMOUNTPAID AS TOTAL,M.MODEOFPAYMENT FROM DBO.TBLPAYMENT P JOIN DBO.TBLBOOKING B ON P.BOOKINGID=B.BOOKINGID JOIN DBO.TBLBILLING L ON 
L.BOOKINGID=P.BOOKINGID JOIN DBO.TBLUSER U ON U.USERID=P.USERID JOIN DBO.TBLMODEOFPAYMENT M ON P.MODEOFPAYMENTID=M.MODEOFPAYMENTID
JOIN DBO.TBLSERVICE S ON S.SERVICEID=B.SERVICEID
WHERE P.INVOICENO=@INVOICENO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientData]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetPatientData]
AS
BEGIN
SELECT PatientName,PatientIllness FROM DBO.TBLPATIENT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETSERVICEDETAILS]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETSERVICEDETAILS]  
@SERVICEID INT  
AS  
BEGIN  
SELECT DISTINCT VS.VENDORID,S.SERVICEID,SERVICETYPEID, SERVICENAME, SERVICE_SHORT_DESCRIPTION AS ShortDescription, SERVICE_LONG_DESCRIPTION AS LongDescription, K.INSIGHTNAME AS Insight FROM DBO.TBLSERVICE S   
JOIN DBO.[TBLKEYINSIGHTS] K ON K.SERVICEID=S.SERVICEID  
JOIN DBO.TBLVENDORSERVICE VS ON VS.SERVICEID=S.SERVICEID 
JOIN DBO.tblServiceCity SC ON SC.SERVICEID=S.SERVICEID
JOIN DBO.TBLVENDOR V ON V.CITYID=SC.CITYID
WHERE S.SERVICEID= @SERVICEID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETSERVICES]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETSERVICES]  
@SERVICETYPEID INT,  
@CITYID INT  
AS  
BEGIN  
SELECT S.SERVICEID,S.SERVICENAME FROM DBO.TBLSERVICE S JOIN DBO.TBLSERVICECITY C ON 
S.SERVICEID  = C.SERVICEID WHERE C.CITYID=@CITYID AND SERVICETYPEID=@SERVICETYPEID  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETSERVICETYPES]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETSERVICETYPES]
@CITYID INT
AS
BEGIN
SELECT S.SERVICETYPEID,S.ServiceTypeName FROM DBO.TBLSERVICETYPE S JOIN DBO.TBLSERVICETYPECITY C ON 
S.ServiceTypeID  = C.ServiceTypeId WHERE C.CITYID=@CITYID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETUSERDETAILS]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETUSERDETAILS]
(
@USERID INT
)
AS
BEGIN
SELECT T.USER_NAME AS USERNAME,User_MobileNumber AS MOBILENUMBER,User_Address1 AS ADDRESS,User_EmailID AS EMAILID,
USER_PINCODE AS PINCODE, C.CityID,C.CityName
FROM DBO.TBLUSER T LEFT JOIN DBO.tblCity C ON C.CityID=T.CityID
WHERE USERID=@USERID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_User]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Insert_User]    
(  
@User_MobileNumber nvarchar(50)  
)  
AS  
BEGIN  
SET NOCOUNT ON;  
BEGIN  
TRY   
	Declare @UserId int
     Insert into dbo.tblUser(User_MobileNumber,UserTypeID,User_Status,CreatedDate) values(@User_MobileNumber,1,1,GETDATE())    
	SET @UserId=SCOPE_IDENTITY()
	Select UserID,UserTypeID from tblUser where UserID=@UserId
END TRY  
BEGIN CATCH  
return 0  
END CATCH  
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_Vendor]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Insert_Vendor]
(
@TitleID int,@Vendor_FirstName nvarchar(50),@Vendor_MiddleName nvarchar(50),@Vendor_LastName nvarchar(50),
@Vendor_NickName nvarchar(50),@Vendor_Gothram nvarchar(50),@Vendor_FatherName nvarchar(50) ,@Vendor_Gender nvarchar(10),
@Vendor_Occupation nvarchar(50),@Vendor_Height decimal(18,2),@Vendor_Weight decimal(18,2),@Vendor_DOB nvarchar(50)
,@Vendor_Age int,@Vendor_PlaceofBirth nvarchar(50),@Vendor_Address1 nvarchar(500),@Vendor_PinCode1 nvarchar(50)
,@Vendor_Address2 nvarchar(500),@Vendor_PinCode2 nvarchar(50),@Vendor_MobileNumber nvarchar(50),
@Vendor_AlternateNumber nvarchar(50),@Vendor_EmailID nvarchar(50),@Vendor_PANNumber nvarchar(50),
@Vendor_AadharNumber nvarchar(50),@Vendor_IdentificationMark1 nvarchar(50),@Vendor_IdentificationMark2 nvarchar(50),
@Vendor_EmergencyContactPerson nvarchar(50),@Vendor_EmergencyContactNumber nvarchar(50),
@Vendor_NameOnPassBook nvarchar(50),@Vendor_BankName nvarchar(50),@Vendor_AccountNumber nvarchar(50)
,@Vendor_IFSCCode nvarchar(50),@CityID int
,@Vendor_MICRCode nvarchar(50),@Vendor_AreasOfActivity nvarchar(50),
@VendorCertifications TT_VendorCertifications READONLY ,
@VendorSocialNetworks TT_VendorSocialNetworks READONLY,
@VendorRelationShips TT_VendorRelationShip READONLY,
@VendorSpecializations TT_VendorSpecialization READONLY

)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY
DECLARE @VendorID int
INSERT INTO dbo.tblVendor (CityID,TitleID,Vendor_FirstName,Vendor_MiddleName,Vendor_LastName,
                           Vendor_NickName,Vendor_Gothram,Vendor_FatherName,Vendor_Gender,
  Vendor_Occupation,Vendor_Height,Vendor_Weight,Vendor_DOB,Vendor_Age,
  Vendor_PlaceofBirth,Vendor_Address1,Vendor_PinCode1,Vendor_Address2,Vendor_PinCode2,
  Vendor_MobileNumber,Vendor_AlternateNumber,Vendor_EmailID,Vendor_PANNumber,
                           Vendor_AadharNumber,Vendor_IdentificationMark1,Vendor_IdentificationMark2,
  Vendor_EmergencyContactPerson,Vendor_EmergencyContactNumber,
  Vendor_NameOnPassBook,Vendor_BankName,Vendor_AccountNumber,Vendor_IFSCCode,Vendor_MICRCode,
  Vendor_AreasOfActivity,UserTypeID,Vendor_Status,CreatedDate)
VALUES (@CityID,@TitleID,@Vendor_FirstName,@Vendor_MiddleName,@Vendor_LastName,
                           @Vendor_NickName,@Vendor_Gothram,@Vendor_FatherName,@Vendor_Gender,
  @Vendor_Occupation,@Vendor_Height,@Vendor_Weight,@Vendor_DOB,@Vendor_Age,
  @Vendor_PlaceofBirth,@Vendor_Address1,@Vendor_PinCode1,@Vendor_Address2,@Vendor_PinCode2,
  @Vendor_MobileNumber,@Vendor_AlternateNumber,@Vendor_EmailID,@Vendor_PANNumber,
                           @Vendor_AadharNumber,@Vendor_IdentificationMark1,@Vendor_IdentificationMark2,
  @Vendor_EmergencyContactPerson,@Vendor_EmergencyContactNumber,
  @Vendor_NameOnPassBook,@Vendor_BankName,@Vendor_AccountNumber,@Vendor_IFSCCode,@Vendor_MICRCode,
  @Vendor_AreasOfActivity,2,1,GETDATE())



SELECT @VendorID=@@IDENTITY
IF(SELECT COUNT(*)  FROM @VendorCertifications) > 0
BEGIN
INSERT INTO dbo.tblVendorCertifications(VendorID,CertificationID)
SELECT @VendorID,CertificationID  FROM @VendorCertifications
END

IF(SELECT COUNT(*)  FROM @VendorSocialNetworks) > 0
BEGIN
INSERT INTO [dbo].[tblVendorSocialNetwork] (VendorID,SocialNetworkID,SocialNetworkURL)
SELECT  @VendorID,SocialNetworkID,SocialNetworkURL FROM @VendorSocialNetworks
END
IF(SELECT COUNT(*)  FROM @VendorRelationShips) > 0 
BEGIN
INSERT INTO tblRelationShip (VendorID,RelationShipName,Name,Gender)
SELECT @VendorID,RelationShipName,Name,Gender FROM @VendorRelationShips

END
IF(SELECT COUNT(*)  FROM @VendorSpecializations) > 0
BEGIN
INSERT INTO tblSpecialization(VendorID,SpecializationName)
SELECT @VendorID,SpecializationName FROM @VendorSpecializations

END

return 1
END TRY
BEGIN CATCH
return 0
END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUpdate_Service]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertUpdate_Service]  
(
@ServiceName nvarchar(50),@CityID int,@ServiceImage image,@ServiceTypeID int, @Action nvarchar(50),@ServiceID int,
@Servcie_Short_Description nvarchar(2000),@Service_Long_Description nvarchar(2000),@ServiceImageFile nvarchar(200)
)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY 
IF(@Action='Save')
 BEGIN
  --DECLARE @ServiceTypeID int
     Insert into tblService(ServiceTypeID,ServiceName,ServiceImage,ServiceImageFile,Service_Short_Description,Service_Long_Description) 
	 values(@ServiceTypeID,@ServiceName,@ServiceImage,@ServiceImageFile,@Servcie_Short_Description,@Service_Long_Description) 
  SELECT @ServiceID=@@IDENTITY 
  BEGIN
     INSERT INTO tblServiceCity(ServiceID,CityID,IsDelete) values(@ServiceID,@CityID,'N')
	
  END
 END
IF(@Action='Update')
 BEGIN
  BEGIN
   UPDATE tblService SET ServiceTypeID=@ServiceTypeID,ServiceName=@ServiceName,ServiceImage=@ServiceImage,Service_Short_Description=
                         @Servcie_Short_Description,Service_Long_Description=@Service_Long_Description,ServiceImageFile=@ServiceImageFile
                      WHERE  ServiceID=@ServiceID
  END
  BEGIN
   UPDATE tblServiceCity SET CityID=@CityID WHERE ServiceID=@ServiceID 
  END
 END

	 return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUpdate_ServiceType]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertUpdate_ServiceType]  
(
@ServiceTypeName nvarchar(50),@CityID int,@ServiceTypeImage image,@ServiceTypeID int, @Action nvarchar(50)
)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY 

IF(@Action='Save')
 BEGIN
  --DECLARE @ServiceTypeID int
     Insert into tblServiceType(ServiceTypeName,ServiceTypeImage) values(@ServiceTypeName,@ServiceTypeImage) 
  SELECT @ServiceTypeID=@@IDENTITY 
  BEGIN
     INSERT INTO tblServiceTypeCity(ServiceTypeID,CityID,IsDelete) values(@ServiceTypeID,@CityID,'N')
  END
 END
IF(@Action='Update')
 BEGIN
  BEGIN
   UPDATE tblServiceType SET ServiceTypeName=@ServiceTypeName,ServiceTypeImage=@ServiceTypeImage
                      WHERE ServiceTypeID=@ServiceTypeID 
  END
  BEGIN
   UPDATE tblServiceTypeCity SET CityID=@CityID WHERE ServiceTypeID=@ServiceTypeID 
  END
 END

	 return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertVendorEnquiry]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertVendorEnquiry]  
(
@Name nvarchar(50),
@MobileNumber nvarchar(250),
@EmailID varchar(50),
@Description nvarchar(200),
@CityID int
)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY  
     Insert into dbo.tblVendorEnquiry(Name,MobileNumber,EmailID,CityID,Description) values(@Name,@MobileNumber,@EmailID,@CityID,@Description)  
	 return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RegisterUser]
(
@name nvarchar(50),
@email nvarchar(50)
--@id int output
)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY
INSERT INTO dbo.tblUser (User_Name,User_EmailID)
VALUES (@name,@email)
return 1
END TRY
BEGIN CATCH
return 0
END CATCH
--SET @id=SCOPE_IDENTITY()
--      RETURN  @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_savepatient]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_savepatient]
(
@PatientName NVARCHAR(50),
@PatientIllness nvarchar(50)
)
as
begin
insert into dbo.tblPatient values (@PatientName,@PatientIllness)
return 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHSERVICE]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHSERVICE]
(
@SEARCH NVARCHAR(50)
)
AS
BEGIN
SELECT * FROM DBO.tblService WHERE SERVICENAME LIKE '%' + @SEARCH + '%' OR KEYWORD LIKE '%' + @SEARCH + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_test]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_test]
(
@testtype testtype READONLY
)
as
begin
insert into test 
select 4, ActivityName, Rating from  @testtype
end
GO
/****** Object:  StoredProcedure [dbo].[sp_testdata]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_testdata]
as
begin
select StateID,StateName from tblState
select * from tblCity
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_UserProfile]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Update_UserProfile]      
(    
@UserId int,  
@User_MobileNumber nvarchar(50),    
@CountryID int,@StateID int,@CityID int,    
@User_Name nvarchar(50),    
@User_EmailID nvarchar(50),@User_Address1 nvarchar(50),@User_PinCode nvarchar(50)    
--@User_Status nvarchar(50),@User_Latitude nvarchar(50),@User_Longitude nvarchar(50)    
)    
AS    
BEGIN    
SET NOCOUNT ON;    
BEGIN    
TRY     
     update dbo.tblUser set User_Name=@User_Name, CountryID=@CountryID,StateID=@StateID,CityID=@CityID,User_EmailID=@User_EmailID,    
  User_Address1=@User_Address1,User_PinCode=@User_PinCode,User_Status='1', User_MobileNumber=@User_MobileNumber,  
 modifieddate=getdate()  
   where UserId=@UserId    
  return 1    
END TRY    
BEGIN CATCH    
return 0    
END CATCH    
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_Vendor]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Update_Vendor]
(
@TitleID int,@Vendor_FirstName nvarchar(50),@Vendor_MiddleName nvarchar(50),@Vendor_LastName nvarchar(50),
@Vendor_NickName nvarchar(50),@Vendor_Gothram nvarchar(50),@Vendor_FatherName nvarchar(50) ,@Vendor_Gender nvarchar(10),
@Vendor_Occupation nvarchar(50),@Vendor_Height decimal(18,2),@Vendor_Weight decimal(18,2),@Vendor_DOB nvarchar(50)
,@Vendor_Age int,@Vendor_PlaceofBirth nvarchar(50),@Vendor_Address1 nvarchar(500),@Vendor_PinCode1 nvarchar(50)
,@Vendor_Address2 nvarchar(500),@Vendor_PinCode2 nvarchar(50),@Vendor_MobileNumber nvarchar(50),
@Vendor_AlternateNumber nvarchar(50),@Vendor_EmailID nvarchar(50),@Vendor_PANNumber nvarchar(50),
@Vendor_AadharNumber nvarchar(50),@Vendor_IdentificationMark1 nvarchar(50),@Vendor_IdentificationMark2 nvarchar(50),
@Vendor_EmergencyContactPerson nvarchar(50),@Vendor_EmergencyContactNumber nvarchar(50),
@Vendor_NameOnPassBook nvarchar(50),@Vendor_BankName nvarchar(50),@Vendor_AccountNumber nvarchar(50)
,@Vendor_IFSCCode nvarchar(50),@CityID int,@VendorID int
,@Vendor_MICRCode nvarchar(50),@Vendor_AreasOfActivity nvarchar(50),
@VendorCertifications TT_VendorCertifications READONLY ,
@VendorSocialNetworks TT_VendorSocialNetworks READONLY,
@VendorRelationShips TT_VendorRelationShip READONLY,
@VendorSpecializations TT_VendorSpecialization READONLY

)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY
--DECLARE @VendorID int
UPDATE  dbo.tblVendor SET CityID=@CityID,TitleID=@TitleID,Vendor_FirstName=@Vendor_FirstName,
                           Vendor_MiddleName=@Vendor_MiddleName,Vendor_LastName=@Vendor_LastName,
                           Vendor_NickName=@Vendor_NickName,Vendor_Gothram=@Vendor_Gothram,
						   Vendor_FatherName=@Vendor_FatherName,Vendor_Gender=@Vendor_Gender,
                           Vendor_Occupation=@Vendor_Occupation,Vendor_Height=@Vendor_Height,
						   Vendor_Weight=@Vendor_Weight,Vendor_DOB=@Vendor_DOB,Vendor_Age=@Vendor_Age,
                           Vendor_PlaceofBirth=@Vendor_PlaceofBirth,Vendor_Address1=@Vendor_Address1,
						   Vendor_PinCode1=@Vendor_PinCode1,Vendor_Address2=@Vendor_Address2,
						   Vendor_PinCode2=@Vendor_PinCode2,Vendor_MobileNumber=@Vendor_MobileNumber,
						   Vendor_AlternateNumber=@Vendor_AlternateNumber,Vendor_EmailID=@Vendor_EmailID,
						   Vendor_PANNumber=@Vendor_PANNumber,Vendor_AadharNumber=@Vendor_AadharNumber,
						   Vendor_IdentificationMark1=@Vendor_IdentificationMark1,Vendor_IdentificationMark2=@Vendor_IdentificationMark2,
						   Vendor_EmergencyContactPerson=@Vendor_EmergencyContactPerson,Vendor_EmergencyContactNumber=@Vendor_EmergencyContactNumber,
                           Vendor_NameOnPassBook=@Vendor_NameOnPassBook,Vendor_BankName=@Vendor_BankName,
						   Vendor_AccountNumber=@Vendor_AccountNumber,Vendor_IFSCCode=@Vendor_IFSCCode,
						   Vendor_MICRCode=@Vendor_MICRCode,Vendor_AreasOfActivity=@Vendor_AreasOfActivity,
						   UserTypeID=2,Vendor_Status=1,CreatedDate=GETDATE()
      where VendorID=@VendorID

IF(SELECT COUNT(*)  FROM @VendorCertifications) > 0
BEGIN
DELETE FROM tblVendorCertifications where VendorID=@VendorID
INSERT INTO dbo.tblVendorCertifications(VendorID,CertificationID)
SELECT @VendorID,CertificationID  FROM @VendorCertifications
END

IF(SELECT COUNT(*)  FROM @VendorSocialNetworks) > 0
BEGIN
DELETE FROM tblVendorSocialNetwork where VendorID=@VendorID
INSERT INTO [dbo].[tblVendorSocialNetwork] (VendorID,SocialNetworkID,SocialNetworkURL)
SELECT  @VendorID,SocialNetworkID,SocialNetworkURL FROM @VendorSocialNetworks
END
IF(SELECT COUNT(*)  FROM @VendorRelationShips) > 0 
BEGIN
DELETE FROM tblRelationShip where VendorID=@VendorID
INSERT INTO tblRelationShip (VendorID,RelationShipName,Name,Gender)
SELECT @VendorID,RelationShipName,Name,Gender FROM @VendorRelationShips

END
IF(SELECT COUNT(*)  FROM @VendorSpecializations) > 0
BEGIN
DELETE FROM tblSpecialization where VendorID=@VendorID
INSERT INTO tblSpecialization(VendorID,SpecializationName)
SELECT @VendorID,SpecializationName FROM @VendorSpecializations

END

return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEUSERRATING]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UPDATEUSERRATING]
(
@BOOKINGID INT,
@RATINGS  INT,
@REVIEWCOMMENTS NVARCHAR(100)
)
AS
BEGIN
BEGIN TRY
UPDATE DBO.tblBooking SET RatingsID=@RATINGS,ReviewComments=@REVIEWCOMMENTS WHERE BookingID=@BOOKINGID
return 1
END TRY
BEGIN CATCH
return 0
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USERBOOKING]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_USERBOOKING]
(
@BOOKINGDATE DATETIME,
@VENDORID INT,
@BOOKINGTYPE NVARCHAR(50),
@SERVICETYPEID INT,
@SERVICEID INT,
@BOOKINGSTATUSID INT,
@USERID INT,
@BOOKINGLOCATION NVARCHAR(100),
@BOOKINGTIME TIME,
@ReviewComments NVARCHAR(100),
@ISDIFFERENTLOCATION NVARCHAR(1),
@CITYID INT,
@PINCODE NVARCHAR(20),
@NEWCITYID INT,
@NEWPINCODE NVARCHAR(20),
@NEWADDRESS NVARCHAR(100),
@USERNAME NVARCHAR(50),
@MOBILENUMBER NVARCHAR(50),
@EMAILID NVARCHAR(50),
@PACKAGEID INT,
@ORDERNO NVARCHAR(50),
@PAYMENTMODE INT,
@PAYMENTSTATUS INT,
@INVOICENO NVARCHAR(50),
@TOTALAMOUNT INT

)
AS
BEGIN
SET NOCOUNT ON;
BEGIN
TRY
DECLARE @BOOKINGID INT

IF(@USERID <> 0)
BEGIN
UPDATE DBO.TBLUSER SET USER_NAME=@USERNAME,USER_MOBILENUMBER=@MOBILENUMBER,USER_EMAILID=@EMAILID,
	CITYID=@CITYID, USER_ADDRESS1=@BOOKINGLOCATION, USER_PINCODE=@PINCODE, MODIFIEDDATE=GETDATE()
	WHERE USERID=@USERID
END
ELSE
BEGIN
INSERT INTO DBO.TBLUSER (USER_NAME,USER_MOBILENUMBER,USER_EMAILID,CITYID,USER_ADDRESS1,USER_PINCODE,CREATEDDATE,UserTypeID,User_Status)
VALUES (@USERNAME,@MOBILENUMBER,@EMAILID,@CITYID,@BOOKINGLOCATION,@PINCODE,GETDATE(),1,1)
SET @USERID=SCOPE_IDENTITY()
END

INSERT INTO [dbo].[tblBooking]
           ([BookingDate]
           ,[VendorID]
           ,[BookingType]
           ,[ServiceTypeID]
           ,[ServiceID]
           ,[BookingStatusID]
           ,[UserID]
           ,[BookingLocation]
           ,[ReviewComments]
           ,[BookingTime]
		   ,PACKAGEID
		   ,CREATEDDATE
		   ,UPDATEDDATE
		   ,BOOKINGAMOUNT
		   ,ORDERNO)
     VALUES(
           @BookingDate,
           @VendorID,
           @BookingType,
           @ServiceTypeID, 
           @ServiceID, 
           @BookingStatusID, 
           @UserID, 
           @BookingLocation,
           @ReviewComments, 
           @BookingTime,
		   @PACKAGEID,
		   GETDATE(),
		   GETDATE(),
		   @TOTALAMOUNT,
		   @ORDERNO
		   )

SET @BOOKINGID=SCOPE_IDENTITY()

INSERT INTO DBO.TBLBILLING(BOOKINGID,USERID,BILLINGADDRESS,CITYID,PINCODE,CREATEDDATE,UPDATEDDATE)
VALUES (@BOOKINGID,@USERID,
		CASE WHEN @ISDIFFERENTLOCATION = 'Y' THEN @NEWADDRESS ELSE @BOOKINGLOCATION END,
		CASE WHEN @ISDIFFERENTLOCATION = 'Y' THEN @NEWCITYID ELSE @CITYID END,
		CASE WHEN @ISDIFFERENTLOCATION = 'Y' THEN @NEWPINCODE ELSE @PINCODE END,
		GETDATE(),
		GETDATE()
		)

INSERT INTO DBO.TBLPAYMENT(USERID,MODEOFPAYMENTID,PAYMENTDATE,PAYMENTSTATUS,VENDORID,AMOUNTPAID,INVOICENO,BOOKINGID)
VALUES (@USERID,@PAYMENTMODE,GETDATE(),@PAYMENTSTATUS,@VENDORID,@TOTALAMOUNT,@INVOICENO,@BOOKINGID)



return 1
END TRY
BEGIN CATCH
return 0
END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_USERONGOING]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_USERONGOING]
(
@USERID INT,
@CALENDARTYPE NVARCHAR(50) 
)
AS
BEGIN
IF(@CALENDARTYPE = 'CURRENT')  
BEGIN 
SELECT BK.BOOKINGAMOUNT AS TOTAL, BK.BookingStatusID,BK.BOOKINGID,CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,
BK.BOOKINGLOCATION,CONVERT(VARCHAR,BK.BOOKINGTIME,8) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS,
V.Vendor_MobileNumber AS MobileNumber, C.CITYNAME ,V.Vendor_EmailID AS EMAILID, MP.ModeOfPayment, PK.PackageName,BK.RatingsID,BK.ReviewComments,L.PinCode,L.BillingAddress
FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID 
JOIN TBLBOOKINGSTATUS BS ON	BK.BookingStatusID=BS.BookingStatusID
JOIN DBO.tblCity C ON C.CityID=V.CityID
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID AND C.CityID=L.CityId   
JOIN dbo.tblPackages PK ON PK.PackageID=BK.PACKAGEID 
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE U.USERID=@USERID AND  CAST(BK.BookingDate AS DATE) >= CAST(GETDATE() AS DATE)   ORDER BY BK.CREATEDDATE DESC
END
IF(@CALENDARTYPE = 'HISTORY')  
BEGIN  
SELECT BK.BOOKINGAMOUNT AS TOTAL, BK.BookingStatusID,BK.BOOKINGID,CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,
BK.BOOKINGLOCATION,CONVERT(VARCHAR,BK.BOOKINGTIME,8) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS,
V.Vendor_MobileNumber AS MobileNumber, C.CITYNAME ,V.Vendor_EmailID AS EMAILID, MP.ModeOfPayment, PK.PackageName,BK.RatingsID,BK.ReviewComments,L.PinCode,L.BillingAddress
FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID 
JOIN TBLBOOKINGSTATUS BS ON	BK.BookingStatusID=BS.BookingStatusID
JOIN DBO.tblCity C ON C.CityID=V.CityID
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID AND C.CityID=L.CityId   
JOIN dbo.tblPackages PK ON PK.PackageID=BK.PACKAGEID 
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE U.USERID=@USERID AND  CAST(BK.BookingDate AS DATE) < CAST(GETDATE() AS DATE)   ORDER BY BK.CREATEDDATE DESC
END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_USERPACKAGES]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_USERPACKAGES]  
(  
@SERVICEID INT  
)  
AS  
BEGIN  
SELECT P.PackageID,P.PackageName,P.PRICE,R.PROCEDURENAME,I.ITEMNAME,I.ITEMPRICE,S.SERVICENAME,C.CITYNAME FROM DBO.TBLPACKAGES P JOIN DBO.TBLPROCEDURE R ON P.PackageID=R.PACKAGEID   
JOIN  DBO.TBLPOOJAITEM I ON I.PACKAGEID=P.PackageID JOIN DBO.TBLSERVICE S ON P.ServiceId=S.ServiceId JOIN DBO.TBLSERVICECITY SC ON  S.ServiceID=SC.ServiceId 
JOIN DBO.TBLCITY C ON C.CityID=SC.CITYID WHERE P.ServiceId=@SERVICEID  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VENDORONGOING]    Script Date: 10/19/2020 12:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_VENDORONGOING]  
(  
@VENDORID INT,  
@CALENDARTYPE NVARCHAR(50)  
)  
AS  
BEGIN  
IF(@CALENDARTYPE = 'CURRENT')  
BEGIN  
SELECT BK.BOOKINGAMOUNT AS TOTAL, CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,U.User_MobileNumber AS MOBILENUMBER,U.USER_EMAILID AS EMAILID,PK.PackageName,BK.RatingsID,BK.ReviewComments,C.CityName,L.PinCode,L.BillingAddress,MP.ModeOfPayment,
BK.BookingStatusID, BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,L.BillingAddress AS BookingLocation,CONVERT(varchar(15),BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID  
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS ON BK.BookingStatusID=BS.BookingStatusID   
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID JOIN tblCity C ON C.CityID=L.CityId   
JOIN dbo.tblPackages PK ON PK.PackageID=BK.PACKAGEID 
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE V.VENDORID=@VENDORID AND BK.BookingStatusID <> 7 AND  CAST(BK.BookingDate AS DATE) = CAST(GETDATE() AS DATE)  
ORDER BY BK.CREATEDDATE DESC  
  
  
END  
IF(@CALENDARTYPE = 'TOMORROW')  
BEGIN  
SELECT BK.BOOKINGAMOUNT AS TOTAL, CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,U.User_MobileNumber AS MOBILENUMBER,U.USER_EMAILID AS EMAILID,PK.PackageName,BK.RatingsID,BK.ReviewComments,C.CityName,L.PinCode,L.BillingAddress,MP.ModeOfPayment,
BK.BookingStatusID, BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,L.BillingAddress AS BookingLocation,CONVERT(varchar(15),BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID  
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS ON BK.BookingStatusID=BS.BookingStatusID   
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID JOIN tblCity C ON C.CityID=L.CityId   
JOIN tblPackages PK ON PK.PackageID=BK.PACKAGEID   
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE V.VENDORID=@VENDORID AND BK.BookingStatusID <> 7 AND  CAST(BK.BookingDate AS DATE) = CAST(GETDATE() + 1 AS DATE)  
ORDER BY BK.CREATEDDATE DESC  
END  
IF(@CALENDARTYPE = 'WEEK')  
BEGIN  
SELECT BK.BOOKINGAMOUNT AS TOTAL, CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,U.User_MobileNumber AS MOBILENUMBER,U.USER_EMAILID AS EMAILID,PK.PackageName,BK.RatingsID,BK.ReviewComments,C.CityName,L.PinCode,L.BillingAddress,MP.ModeOfPayment,
BK.BookingStatusID, BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,L.BillingAddress AS BookingLocation,CONVERT(varchar(15),BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID  
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS ON BK.BookingStatusID=BS.BookingStatusID   
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID JOIN tblCity C ON C.CityID=L.CityId   
JOIN tblPackages PK ON PK.PackageID=BK.PACKAGEID  
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE V.VENDORID=@VENDORID AND BK.BookingStatusID <> 7 AND  DATEPART(wk, bk.BOOKINGDATE) = DATEPART(wk, GETDATE())  
ORDER BY BK.CREATEDDATE DESC  
END  
IF(@CALENDARTYPE = 'UPCOMING')  
BEGIN  
SELECT BK.BOOKINGAMOUNT AS TOTAL, CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,U.User_MobileNumber AS MOBILENUMBER,U.USER_EMAILID AS EMAILID,PK.PackageName,BK.RatingsID,BK.ReviewComments,C.CityName,L.PinCode,L.BillingAddress,MP.ModeOfPayment,
BK.BookingStatusID, BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,L.BillingAddress AS BookingLocation,CONVERT(varchar(15),BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID  
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS ON BK.BookingStatusID=BS.BookingStatusID   
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID JOIN tblCity C ON C.CityID=L.CityId   
JOIN tblPackages PK ON PK.PackageID=BK.PACKAGEID  
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE V.VENDORID=@VENDORID AND BK.BookingStatusID <> 7 AND  DATEPART(wk, bk.BOOKINGDATE) > DATEPART(wk, GETDATE()) AND  
BK.BookingStatusID NOT IN (4,5)    
ORDER BY BK.CREATEDDATE DESC  
END  
IF(@CALENDARTYPE = 'HISTORY')  
BEGIN  
SELECT BK.BOOKINGAMOUNT AS TOTAL, CONVERT(varchar(15),BK.TIMEIN,100) AS TIMEIN,CONVERT(varchar(15),BK.TIMEOUT,100) AS TIMEOUT,U.User_MobileNumber AS MOBILENUMBER,U.USER_EMAILID AS EMAILID,PK.PackageName,BK.RatingsID,BK.ReviewComments,C.CityName,L.PinCode, L.BillingAddress,MP.ModeOfPayment,
BK.BookingStatusID, BK.BOOKINGID,CONVERT(VARCHAR,BK.BOOKINGDATE,103) AS BOOKINGDATE,L.BillingAddress AS BookingLocation,CONVERT(varchar(15),BK.BOOKINGTIME,100) AS BOOKINGTIME,U.USER_NAME AS USERNAME,V.VENDOR_FIRSTNAME AS VENDORNAME,S.SERVICENAME,BK.SERVICEID,BS.BOOKINGSTATUSNAME AS BOOKINGSTATUS FROM DBO.TBLBOOKING BK WITH (NOLOCK) JOIN DBO.TBLUSER U ON BK.USERID=U.USERID  
JOIN TBLVENDOR V ON V.VENDORID=BK.VENDORID JOIN TBLSERVICE S ON S.SERVICEID=BK.SERVICEID JOIN TBLBOOKINGSTATUS BS ON BK.BookingStatusID=BS.BookingStatusID   
JOIN DBO.TBLBILLING L ON L.BOOKINGID=BK.BOOKINGID JOIN tblCity C ON C.CityID=L.CityId   
JOIN tblPackages PK ON PK.PackageID=BK.PACKAGEID   
JOIN dbo.tblPayment PT ON PT.BOOKINGID=BK.BookingID
JOIN DBO.tblModeOfPayment MP ON PT.ModeofPaymentID=MP.ModeOfPaymentID
WHERE V.VENDORID=@VENDORID AND  CAST(BK.BookingDate AS DATE) < CAST(GETDATE() AS DATE)    
ORDER BY BK.CREATEDDATE DESC  
END  
END
GO
USE [master]
GO
