<app-header></app-header>
<div class="jumbotron" style="background-color: linen;" >
  <form (ngSubmit)="EditProfile()">
    <!-- <div class="jumbotron" style="background-color: rgb(222, 235, 235);" > -->
  <div class="container card border-primary mb-3" style="max-width: 80rem;">
      <div class="card-header text-center bold text-info"><h3><b>User Profile</b></h3></div>
      <div class="card-body" style="height: auto">

            <div class="form-group row">
                  <div class="col-3">
                      <label>Name</label>
                  </div>
                  <div class="col-3">
                      <input type="textbox" name="user_Name" id="user_Name"  [(ngModel)]="loginModel.user_Name"  class="form-control">
                  </div>
                  <div class="col-3">
                      <label>Mobile Number</label>
                  </div>
                  <div class="col-3">
                      <input type="textbox"  name="user_MobileNumber" id="user_MobileNumber"  [(ngModel)]="loginModel.user_MobileNumber"   class="form-control">

                      <!-- <label>{{user_MobileNumber}}</label> -->
                  </div>
            </div>
            <div class="form-group row">
                  <div class="col-3">
                    <label>Email ID</label>
                  </div>
                  <div class="col-3">
                       <input type="textbox" name="user_EmailID" id="user_EmailID"  [(ngModel)]="loginModel.user_EmailID"  class="form-control">
                  </div>
                  <div class="col-3">
                    <label>Select Country</label>
                  </div>
                  <div class="col-3">
                          <select name="countryID"  class="form-control" [(ngModel)]="loginModel.countryID"  >

                              <option value="1">India</option>
                           </select>
                  </div>
            </div>
            <div class="form-group row">
                  <div class="col-3">
                       <label>Select State</label>
                  </div>
                  <div class="col-3">
                          <select name="stateID" (change)="selectState($event.target.value)"
                           class="form-control" [(ngModel)]="loginModel.stateID" >
                                  <option *ngFor="let state of State"
                                  [value]="state.stateID"
                                  [attr.selected]="loginModel.stateID==state.stateID ? true : null">
                                   {{state.stateName}}
                              </option>
                           </select>
                  </div>
                  <div class="col-3">
                      <label>Select City</label>
                  </div>
                  <div class="col-3">
                          <select name="cityID" placeholder="Title" class="form-control"
                           (change)="selectCity($event.target.value)"  [(ngModel)]="loginModel.cityID"  >
                                  <option *ngFor="let city of City"
                                  [value]="city.cityID"
                                  [attr.selected]="loginModel.cityID==city.cityID ? true : null">

                                   {{city.cityName}}
                              </option>
                           </select>
                  </div>
            </div>
            <div class="form-group row">
                  <div class="col-3">
                       <label>Address</label>
                  </div>
                  <div class="col-3">
                       <textarea type="text" name="user_Address1" id="user_Address1"  [(ngModel)]="loginModel.user_Address1"   class="form-control"></textarea>

                  </div>
                  <div class="col-3">
                       <label>PinCode</label>
                  </div>
                  <div class="col-3">
                       <input type="textbox" name="user_PinCode" id="user_PinCode"  [(ngModel)]="loginModel.user_PinCode"  class="form-control">
                  </div>
            </div>
            <div class="form-group row" >
                  <button class="col-3 offset-4 btn btn-primary">Update Profile</button>
                 </div>


      </div>
      </div>
  </form>
  </div>
  <app-footer></app-footer>


