<app-adminheader></app-adminheader>
<div class="container-fluid jumbotron" style="background-color: linen;" >
  <div class="col-md-5 mt-10 w-50" style="margin-left:30%">
    <div class="card border-primary mb-3 w-100">
        <div class="card-header font-weight-bold text-center">Schedule Meeting</div>

        <div class="card-body" style="height: 100%">

          <form (ngSubmit)="CreateMeeting()" class="contact-form form-validate"  novalidate="novalidate">
            <div class="row">
                <div class="col-md-8  offset-3">
                    <div class="form-group col-centered">
                      <input type="meetingid" class="form-control" required id="meetingid" name="meetingid"  placeholder="Enter Meeting Id" [(ngModel)]="loginModel.MeetingId">
                    </div>
                </div>


                </div>
                <div class="row">
                  <div class="col-md-8  offset-3">
                      <div class="form-group col-centered">
                        <input type="pwd" class="form-control" required id="password" name="password"  placeholder="Enter Meeting Password" [(ngModel)]="loginModel.MeetingPassword">
                      </div>
                  </div>


                  </div>
                <div class="row">
                  <div class="col-md-8  offset-4">
                      <div class="form-group col-centered">
                        <button type="submit"  class="btn btn-primary col-8" >Schedule Meeting</button>
                      </div>
                  </div>



                  </div>
                  </form>



        </div>

    </div>
  </div>
  </div>


