.background{
  --background:#f49321 !important;
  --background-repeat: no-repeat;
--background-size: cover; 

}
.footerbackground{
  --background: url(../../assets/Images/down-bg.png) ;
  --background-repeat: no-repeat;
--background-size: cover; 
color: white;
}
.title {
  color: rgba(197,21,21,1);
  font-weight: bold;
  font-size:25px;
 }
  .footerbg{
    --background: url(../../assets/foot.png) ;
    --background-repeat: no-repeat;
  --background-size: cover; 
  color: white;
  }
  ion-card {
    
    text-align: center;
    background-color: #f1f1f1;
    margin-left:0 !important;
    margin-right:0 !important;
    margin-bottom:0 !important;
    margin-top:0 !important;
    ion-card-content{
        padding: 0 !important; 
    };
    font-weight: bold;
  
  }
  .btn {
    background-image:url("../../assets/Images/btnbg.jpg");
    font-weight: bold;
    color: #f7f9f9 !important;
  }