<app-header></app-header>
<style>
    .imgstyle
    {
        width:770px;
        height:340px;
    }
</style>
<div class="container border" style="padding: 50px;border-color: gray;padding-left:200px;">
    <h3 style="text-align: center;"><b><u></u></b></h3>
     <br><br>
     <div *ngIf="dec11th" style="display: inline;" >

         <img class="imgstyle"  src="../../assets/Auspicious Days/dec-11-2020/Ekadashi.jpg" alt="text"  />

         <img   src="../../assets/Auspicious Days/dec-11-2020/ekadashi-1.PNG" alt="text"  />

         <img  src="../../assets/Auspicious Days/dec-11-2020/ekadasi-2.PNG" alt="text"  />
     </div>
     <div *ngIf="dec15th" style="display: inline;" >

        <img class="imgstyle"   src="../../assets/Auspicious Days/dec 15 2020/margashira padyami.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 15 2020/padyami-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 15 2020/padyami-2.PNG" alt="text"  />
    </div>
    <div *ngIf="dec19th" style="display: inline;" >

        <img class="imgstyle"  src="../../assets/Auspicious Days/dec 19 2020/Panchami.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 19 2020/panchami-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 19 2020/panchami-2.PNG" alt="text"  />
    </div>
    <div *ngIf="dec20th" style="display: inline;" >
        <img class="imgstyle"  src="../../assets/Auspicious Days/dec 20 2020/Subrhamanya Shasti.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 20 2020//subramanyashasti-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 20 2020/subramanyashasti-2.PNG" alt="text"  />

    </div>
    <div *ngIf="dec25th" style="display: inline;" >
        <img class="imgstyle"  src="../../assets/Auspicious Days/dec 25 2020/Mukoti Ekadashi.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 25 2020/mukkotiekadashi-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 25 2020/mukkotiekadashi-2.PNG" alt="text"  />

    </div>
    <div *ngIf="dec27th" style="display: inline;" >
        <img class="imgstyle"  src="../../assets/Auspicious Days/dec 27  2020/Hanuman Vratham.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 27  2020/hanuman-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 27  2020/hanuman-2.PNG" alt="text"  />

    </div>
    <div *ngIf="dec29th" style="display: inline;" >

        <img class="imgstyle"  src="../../assets/Auspicious Days/dec 29 2020/dattatreya jayanthi.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 29 2020/dattatreya-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 29 2020/dattatreya-2.PNG" alt="text"  />
    </div>
    <div *ngIf="dec30th" style="display: inline;" >

        <img class="imgstyle"  src="../../assets/Auspicious Days/dec 30 2020/Pournami.jpg" alt="text" />

        <img  src="../../assets/Auspicious Days/dec 30 2020/pournami-1.PNG" alt="text"  />

        <img  src="../../assets/Auspicious Days/dec 30 2020/pournami-2.PNG" alt="text"  />
    </div>

</div>
<app-footer></app-footer>
