.background{
  --background:#f49321 !important;
  --background-repeat: no-repeat;
--background-size: cover; 

}
.footerbackground{
  --background: url(../../assets/Images/down-bg.png) ;
  --background-repeat: no-repeat;
--background-size: cover; 
color: white;
}
.title {
  color: rgba(197,21,21,1);
  font-weight: bold;
  font-size:25px;
 }
  ion-card {
    height: 93%;
    text-align: center;
    background-color: rgba(197,21,21,1);
    margin-left:25px !important;
    margin-bottom:0 !important;
   
    ion-card-content{
        padding: 0 !important; 
    };
    font-weight: bold;
    width:105px !important;
    padding: 2px;
  
  }
  .cardtext {
    margin-left:15px !important;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    background-color:rgba(244,147,33,1);
    color:rgba(197,21,21,1);
    border-radius: 5px;
    padding:6px;
    margin-top: 10px;
    
  }
  .btn {
    background-image:url("../../assets/Images/btnbg.jpg");
    font-weight: bold;
    color: #f7f9f9 !important;
  }
  .footerbg{
    --background: url(../../assets/foot.png) ;
    --background-repeat: no-repeat;
  --background-size: cover; 
  color: white;
  }