<app-header></app-header>
<div class="container">
    <h2>Corporate Address :</h2>
    <br>

    <div class="card-columns">



        <div class="card bg-light">
            <div class="card-body text-left">
                <p class="card-text" ><b style="color: green;">Brahmasmi Online Service Pvt. Ltd.</b><br>
                    Workafella Cyber Crown, Sec-II,Village, HUDA Techno Enclave,Madhapur,<br>
                    Hyderabad,Telangana 500081.<br>
                <h6 style="color: green;"><b>Contact : </b></h6>
                <i><b>Toll-Free No: </b>1800 891 6676</i><br>
                <i><b>Customer Care No:</b> 9392913659</i>
                

            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>