<app-header></app-header>

<div class="jumbotron" style="background-color: linen;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card border-primary mb-3 w-100">
                    <div class="card-header font-weight-bold">Billing Details</div>

                    <div class="card-body" style="height: 100%">
                        <form class="contact-form form-validate" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Name" class="form-control" id="userName" name="userName"
                                            [(ngModel)]="templeUserBilling.UserName">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Mobile Number" width="100px" class="form-control"
                                            id="mobileNum" name="mobileNum"
                                            [(ngModel)]="templeUserBilling.UserMobileNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Email Address" class="form-control" id="emailId"
                                            name="emailId" [(ngModel)]="templeUserBilling.UserEmail">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select style="width: 200px;margin-right: 20px;" name="cityID"
                                            placeholder="Title" class="form-control"
                                            [(ngModel)]="templeUserBilling.CityId">
                                            <option *ngFor="let city of city" [value]="city.cityID">
                                                {{city.cityName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input placeholder="Billing Address" class="form-control" id="address"
                                            name="address" [(ngModel)]="templeUserBilling.UserAddress">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Pincode" class="form-control" id="pincode" name="pincode"
                                            [(ngModel)]="templeUserBilling.Pincode">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card mb-3">
                    <h5 class="card-header">Your Order</h5>

                    <div class="conatiner-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered w-100">
                                    <thead>
                                        <tr>
                                            <th>Service Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of templeUserBillingItems.serviceDetails;let i=index">
                                            <td>
                                                <ul class="list-style--none ">
                                                    <li class="mb-2 pl-2">
                                                        Pooja name: {{item.ServiceName}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        City: {{templeUserBillingItems.TempleCity}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        Date: {{item.BookingDate}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        Time: {{item.BookingTime}}
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{item.ServicePrice}}</td>
                                        </tr>
                                    </tbody>
                                    <thead *ngIf="templeUserBillingItems.accommodationDetails.length>0">
                                        <tr>
                                            <th>Accommodation</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="templeUserBillingItems.accommodationDetails.length>0">
                                        <tr
                                            *ngFor="let acmd of templeUserBillingItems.accommodationDetails;let i=index">
                                            <td>
                                                <ul class="list-style--none ">
                                                    <li class="mb-2 pl-2">
                                                        Room Type: {{acmd.RoomType}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        City: {{templeUserBillingItems.TempleCity}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        Date: {{acmd.RoomBookingDate}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        No Of Days: {{templeUserBillingItems.AcmdNoOfDays}}
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{acmd.RoomPrice}}</td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <td class="font-weight-bold">Total:</td>
                                        <td>{{total}}</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card border-primary mb-3">
                            <div class="card-header font-weight-bold">Choose Payment Method</div>
                            <div class="card-body">

                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio"
                                            class="custom-control-input" value="razor" checked="true"
                                            [(ngModel)]="isPaymentchecked">
                                        <label class="custom-control-label" for="customRadio1">Pay with Card/
                                            NetBanking/ Wallet</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio"
                                            class="custom-control-input" value="cod" [(ngModel)]="isPaymentchecked">
                                        <label class="custom-control-label" for="customRadio2">Cash after
                                            Service</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio"
                                            class="custom-control-input" value="upi" [(ngModel)]="isPaymentchecked">
                                        <label class="custom-control-label" for="customRadio3">Pay with UPI/ QR
                                            Code</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pull-right">

                        <button class="btn btn-primary" (click)="PlaceOrder()">Place Order</button>

                        <ng-template #mymodal let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><span
                                        *ngIf="isPaymentchecked=='upi'">Scan QR
                                        Code</span><span *ngIf="isPaymentchecked=='cod'">Cash after Service</span></h4>
                                <button type="button" style="border:0px;" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body w-100">
                                <div class="contained-fluid w-100" *ngIf="isPaymentchecked=='upi'">
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold">
                                            UPI ID: 9243242434@BRAHMASMI
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="../../assets/QRCode.png" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold">
                                            Amount to be Paid: {{total}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 p-3">
                                            <p>Scan the QR Code with any UPI apps like BHIM, Paytm, Google Pay, PhonePe
                                                or any Banking UPI app
                                                to make payment for this order.
                                                Click Confirm, only after the amount deducted from your account. We will
                                                manually verify your
                                                transaction.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contained-fluid w-100" *ngIf="isPaymentchecked=='cod'">
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold">
                                            <p>Are you sure you want to do the payment after Service?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="Confirm()">Confirm</button>
                                <button type="button" class="btn btn-primary"
                                    (click)="modal.close('Save click')">Cancel</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


































<!-- <app-header></app-header>

<div class="jumbotron" style="background-color: linen;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card border-primary mb-3 w-100">
                    <div class="card-header font-weight-bold">Billing Details</div>

                    <div class="card-body" style="height: 100%">
                        <form class="contact-form form-validate" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Name" class="form-control" id="userName" name="userName"
                                            [(ngModel)]="templeUserBilling.UserName">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Mobile Number" width="100px" class="form-control"
                                            id="mobileNum" name="mobileNum"
                                            [(ngModel)]="templeUserBilling.UserMobileNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Email Address" class="form-control" id="emailId"
                                            name="emailId" [(ngModel)]="templeUserBilling.UserEmail">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select style="width: 200px;margin-right: 20px;" name="cityID"
                                            placeholder="Title" class="form-control"
                                            [(ngModel)]="templeUserBilling.CityId">
                                            <option *ngFor="let city of city" [value]="city.cityID">
                                                {{city.cityName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input placeholder="Address" class="form-control" id="address" name="address"
                                            [(ngModel)]="templeUserBilling.UserAddress">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Pincode" class="form-control" id="pincode" name="pincode"
                                            [(ngModel)]="templeUserBilling.Pincode">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mb-3">
                    <h5 class="card-header">Your Order</h5>

                    <div class="conatiner-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered w-100">
                                    <thead>
                                        <tr>
                                            <th>Service Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of templeUserBillingItems.serviceDetails;let i=index">
                                            <td>
                                                <ul class="list-style--none ">
                                                    <li class="mb-2 pl-2">
                                                        Pooja name: {{item.ServiceName}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        City: {{templeUserBillingItems.TempleCity}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        Date: {{item.BookingDate}}
                                                    </li>
                                                    <li class="mb-2 pl-2">
                                                        Time: {{item.BookingTime}}
                                                    </li>
                                                </ul>
                                            </td>

                                            <td>{{item.ServicePrice}}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <ul class="list-style--none ">
                                                    <li class="mb-2 pl-2">
                                                        Darshan
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{templeUserBillingItems.DarshanPrice}}</td>
                                        </tr>
                                        <tr *ngIf="accommodation">
                                            <td>
                                                <ul class="list-style--none ">
                                                    <li class="mb-2 pl-2">
                                                        Accommodation: Room Type: {{templeUserBillingItems.RoomType}}
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{templeUserBillingItems.RoomPrice}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Total:</td>
                                            <td>{{total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card border-primary mb-3">
                            <div class="card-header font-weight-bold">Choose Payment Method</div>
                            <div class="card-body">

                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio"
                                            class="custom-control-input" value="razor" checked="true"
                                            [(ngModel)]="isPaymentchecked">
                                        <label class="custom-control-label" for="customRadio1">Pay with Card/
                                            NetBanking/ Wallet</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio"
                                            class="custom-control-input" value="cod" [(ngModel)]="isPaymentchecked">
                                        <label class="custom-control-label" for="customRadio2">Cash after
                                            Service</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio"
                                            class="custom-control-input" value="upi" [(ngModel)]="isPaymentchecked">
                                        <label class="custom-control-label" for="customRadio3">Pay with UPI/ QR
                                            Code</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pull-right">

                        <button class="btn btn-primary" (click)="PlaceOrder()">Place Order</button>

                        <ng-template #mymodal let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><span
                                        *ngIf="isPaymentchecked=='upi'">Scan QR
                                        Code</span><span *ngIf="isPaymentchecked=='cod'">Cash after Service</span></h4>
                                <button type="button" style="border:0px;" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body w-100">
                                <div class="contained-fluid w-100" *ngIf="isPaymentchecked=='upi'">
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold">
                                            UPI ID: 9243242434@BRAHMASMI
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="../../assets/QRCode.png" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold">
                                            Amount to be Paid: {{total}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 p-3">
                                            <p>Scan the QR Code with any UPI apps like BHIM, Paytm, Google Pay, PhonePe
                                                or any Banking UPI app
                                                to make payment for this order.
                                                Click Confirm, only after the amount deducted from your account. We will
                                                manually verify your
                                                transaction.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contained-fluid w-100" *ngIf="isPaymentchecked=='cod'">
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold">
                                            <p>Are you sure you want to do the payment after Service?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="Confirm()">Confirm</button>
                                <button type="button" class="btn btn-primary"
                                    (click)="modal.close('Save click')">Cancel</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> -->