<app-adminheader></app-adminheader>
<div class="container-fluid w-100  mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card border mb-3 w-100">
        <div class="card-header w-100 font-weight-bold">Pooja Subscription Form</div>

        <div class="card-body w-100" style="height: 630px;overflow: scroll;">

          <div class="conatiner-fluid">
            <div class="row">

              <div class="table-responsive w-100">
                <table class="table table-bordered w-100">
                  <thead class="thead-light">
                    <th style="display: none;"> SubscriptionCategoryID</th>
                    <th style="display: none;"> PoojaServicesID</th>
                    <th style="display: none;"> PoojaSubscriptionFormID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>MobileNumber</th>
                    <th>EmailID</th>
                    <th style="display: none;">Latitude</th>
                    <th style="display: none;">Longitude</th>
                    <th>PoojaServices</th>
                    <th>SubscriptionCategoryName</th>

                  </thead>
                  <tbody *ngFor="let service of Services; let i=index" [ngClass]="{'active': selectedIndex == i}">
                    <td style="display: none;"> {{service.SubscriptionCategoryID}}</td>
                    <td style="display: none;"> {{service.PoojaServicesID}}</td>
                    <td style="display: none;"> {{service.PoojaSubscriptionFormID}}</td>

                    <td> {{service.name}}</td>
                    <td> {{service.address}}</td>
                    <td> {{service.mobileNumber}}</td>
                    <td> {{service.emailID}}</td>
                    <td style="display: none;"> {{service.latitude}}</td>
                    <td style="display: none;"> {{service.longitude}}</td>
                    <td> {{service.poojaServices}}</td>
                    <td> {{service.subscriptionCategoryName}}</td>

                    <!--  <td  class="columnWidth">
               <button class="btn btn-secondary"  (click)="onEdit(service)">Edit</button>
               <button class="btn btn-danger" (click)="onDelete(service)">Delete</button>
           </td> -->
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>