<!-- <app-header></app-header> -->
<style>
  @media screen and (max-width:100px){
  .container-fluid
  {
display: flex;
  }
}

.nav-tabs{
  border-bottom-color: transparent;
}
.cardbody
{
  border:1px solid darkmagenta !important;
  width:70%;
}
.container-fluid
{
  background-color:darkgoldenrod;
}
</style>
<app-header></app-header>
<div class="container-fluid jumbotron" style="background-color: linen;" >
<div class="col-md-5 mt-10 w-50" style="margin-left:30%">
  <div class="card border mb-3  cardbody">
      <div class="card-header font-weight-bold ">
        <ul class="nav nav-tabs" style="font-size: 20px;">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#otp">Login With OTP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pswd">Login With Password</a>
          </li>


        </ul>
      </div>

      <div class="card-body" style="height: 100%">


<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="otp">
    <form (ngSubmit)="SendOTP()" class="contact-form form-validate"  novalidate="novalidate">
      <div class="row">
          <div class="col-md-6  offset-3">
              <div class="form-group col-centered">
                <input type="mobile" class="form-control" required id="mobileNumber" name="mobileNumber" maxlength="10" minlength="10" (keypress)="keyPress($event)"  placeholder="Enter Mobile Number" [(ngModel)]="loginModel.mobileNumber">
              </div>
          </div>



          </div>
          <br>
          <div class="row">
            <div class="col-md-6  offset-4">
                <div class="form-group col-centered">
                  <button type="submit" class="btn  col-8"  >Continue</button>
                </div>
            </div>



            </div>
            </form>
            <form (ngSubmit)="Login()">
          <div class="row" >

            <div class="col-md-12" *ngIf="isLogin">
              <hr/>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <div class="text-center">
                        <h6><b>Please Enter the One-Time Password to verify your account</b></h6>
                        <p class="h7">A One-Time Password has been sent to {{loginModel.mobileNumber }}</p>
                        <br>

                      <ng-otp-input  (onInputChange)="onOtpChange($event)"  name="otpInput" [config]="{length:4}"></ng-otp-input>
                    <!-- <span style="font-size:6px;">{{ActualOTP}}</span> -->
                   </div>
                    </div>
                </div>

            </div>

            <div class="row">
              <div class="col-md-6 offset-4">
                  <div class="form-group">
                    <button type="submit" class="btn  col-8" >Login</button>
                  </div>
              </div>

              </div>
              </div>

          </div>
        </form>
  </div>
  <div class="tab-pane fade" id="pswd">

    <form (ngSubmit)="LoginWithPassword()" class="contact-form form-validate"  novalidate="novalidate">
      <div class="row">
          <div class="col-md-6  offset-3">
              <div class="form-group col-centered">
                <input type="mobile" class="form-control" required id="mobileNumber" name="mobileNumber"  placeholder="Enter Mobile Number" [(ngModel)]="loginModel.mobileNumber">
              </div>
              <div class="form-group col-centered">
                <input type="password" class="form-control" required id="password" name="password"  placeholder="Enter Password" [(ngModel)]="loginModel.password">
              </div>
          </div>



          </div>
          <div class="row">
            <div class="col-md-6  offset-4">
                <div class="form-group col-centered">
                  <button type="submit" class="btn  col-8" >Login</button>
                </div>
            </div>



            </div>
            </form>
  </div>


</div>


      </div>

  </div>
</div>
</div>
<app-footer>
  
</app-footer>





