<ion-header>
  <ion-toolbar class="background">
    <ion-title class="title">My Account</ion-title>
    <a (click)="Back()" slot="start" style="margin-left: 13px;"> <img src="../../assets/Images/arrow-red.png"/></a>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card style="margin-top:30%">
    <ion-card-header>
     
     <!--<ion-text  style="text-align: left;">
        
        <ion-tabs>  
          <ion-tab-bar slot="top" class="cardbgcolor">  
            <ion-tab-button tab="otp" (click)="ShowPanel('otp')">  
              <ion-label style="font-weight: bold;color:rgba(197,21,21,1)">Login with OTP</ion-label>  
            </ion-tab-button>  
              
            <ion-tab-button tab="password" (click)="ShowPanel('password')">  
              <ion-label style="font-weight: bold;color:rgba(197,21,21,1)">Login with Password</ion-label>  
            </ion-tab-button>  
                     
          </ion-tab-bar>  
        </ion-tabs>
      </ion-text>--> 
    </ion-card-header>
    <ion-card-content> 
      <ion-row>
        <ion-col>
          <div  id="otp" *ngIf="isotpPanel">
            <form (ngSubmit)="SendOTP()" class="contact-form form-validate"  novalidate="novalidate">
            
              <ion-item>
                        <ion-input type="mobile" class="form-control" required id="mobileNumber" name="mobileNumber" maxlength="10" minlength="10" (keypress)="keyPress($event)"  placeholder="Enter Mobile Number" [(ngModel)]="loginModel.mobileNumber"></ion-input>
                          
              </ion-item>
        
        
        
                  
                      <ion-item style="margin-top:20px;"> 
                  
                          <ion-button type="submit"  class="primary" size="small" color="warning" >Continue</ion-button>
                     </ion-item>
               
                    </form>
                    <form (ngSubmit)="Login()">
                  <div class="row" >
        
                    <div class="col-md-12" *ngIf="isLogin">
                      <hr/>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <div class="text-center">
                                <h6><b>Please Enter the One-Time Password to verify your account</b></h6>
                                <p class="h7">A One-Time Password has been sent to {{loginModel.mobileNumber }}</p>
                                <br>
        
                              <ng-otp-input  (onInputChange)="onOtpChange($event)"  name="otpInput" [config]="{length:4}"></ng-otp-input>
                            <!-- <span style="font-size:6px;">{{ActualOTP}}</span> -->
                           </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="row" padding style="text-align: center;margin-top: 30px;">
                      <div class="col-md-6 offset-4">
                          <div class="form-group">
                        
                            <ion-button type="submit" style="width:200px;"   class="primary" size="default" color="warning" >Login</ion-button>
                          </div>
                      </div>
        
                      </div>
                      </div>
        
                  </div>
                </form>
          </div>
          <div id="pswd" *ngIf="!isotpPanel">
        
            <form (ngSubmit)="LoginWithPassword()" class="contact-form form-validate"  novalidate="novalidate">
              <ion-list>  
                <ion-item>  
                  
                        <ion-input type="text" class="form-control" required id="mobileNumber" name="mobileNumber"  placeholder="Enter Mobile Number" [(ngModel)]="loginModel.mobileNumber"></ion-input>
                     
                      </ion-item>
                      <ion-item style="margin-top:20px;">
                        <ion-input type="password" class="form-control"  required id="password" name="password"  placeholder="Enter Password" [(ngModel)]="loginModel.password"></ion-input>
                    </ion-item>
      
              
                    </ion-list>
                
                  <div padding style="text-align: center;margin-top: 30px;">               
                    
                          <ion-button type="submit" style="width:200px;"  class="primary" size="default" color="warning" >Login</ion-button>
                          
                    </div>
                    </form>
                   
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
    </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar class="footerbackground" style="text-align: center;">
<ion-label text-align="center">© 2020 Copyright: www.brahmasmi.in</ion-label>
  </ion-toolbar>
</ion-footer>