<form (ngSubmit)="Register()">
    <fieldset>
     
        <div class="form-group w-25">
            <label for="name">Name</label>
            <input type="email" class="form-control" id="name" name="name"  placeholder="Enter Name" [(ngModel)]="registerModel.name">
    
          </div>
      <div class="form-group w-25">
        <label for="email">Email Id</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Id" [(ngModel)]="registerModel.email">

      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>

