<ion-header>
  <ion-toolbar class="background">
    <div class="Rectangle_1" align="center">
    
           <img src="../../assets/Images/leaf.png" style="margin-top:10px;" />   
          <div class="logotext">Brahmasmi</div>
          <div class="logosubtext">TECHPANDIT</div>
         <ion-title>
           
         </ion-title>  
       </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div style="margin-top:30%;text-align: center;">
    
     
  
  <p><ion-button  type="submit" (click)="Login(1)"   size="default" color="warning" >Login with OTP</ion-button></p>
  <p><ion-button type="submit"   (click)="Login(0)"  size="default" color="warning">Login with Password</ion-button></p>
   

  </div>
  </ion-content>
<ion-footer> 
  <ion-toolbar class="footerbackground" style="text-align: center;">
<ion-label text-align="center">© 2020 Copyright: www.brahmasmi.in</ion-label>
  </ion-toolbar>
</ion-footer>