<app-header></app-header>
  <div class="container-fluid jumbotron"  >
<table align="center">
    <tbody>
        <tr><td style="text-align: center;"><h4>My Bookings</h4></td></tr>
        <tr><td style="height: 10px;"></td></tr>
<tr><td>
    <div class="btn-group btn-group-toggle" >
      <!-- data-toggle="buttons" -->
        <label class="btn btn-primary">
          <input (click)="CalendarTab('current')" type="radio" name="options" id="option1" autocomplete="off" checked="true"> ONGOING
        </label>
        <label class="btn btn-primary">
          <input (click)="CalendarTab('history')" type="radio" name="options" id="option2" autocomplete="off"> HISTORY
        </label>

      </div>
</td></tr>
<tr><td style="height: 25px;"></td></tr>
    </tbody>
</table>

<div class="container-fluid" style="text-align: center;">
    <div class="row" *ngIf="ongoing.length>0">
        <div class="col-md-4 w-100" *ngFor="let item of ongoing">
            <div class="card border-primary mb-3 w-100 h-100">
                <div class="card-header pull-left w-100">{{item.serviceName}}  <div class="pull-right">
                  <span *ngIf="item.bookingStatusId =='1' || item.bookingStatusId =='2' || item.bookingStatusId =='3'  || item.bookingStatusId =='5'" class="badge badge-success badge-pill">
                    {{item.bookingStatus}}
                  </span>
                  <span *ngIf="item.bookingStatusId =='7'" class="badge badge-warning badge-pill">
                      Request Pending
                  </span>
                  <span *ngIf="item.bookingStatusId =='6'" class="badge badge-warning badge-pill"> {{item.bookingStatus}}</span>
                  <span *ngIf="item.bookingStatusId =='4'" class="badge badge-danger badge-pill"> {{item.bookingStatus}}</span>
                </div></div>

                <div class="card-body h-100 w-100">

                    <div class="conatiner-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../assets/profileicon.png"/>
                            </div>
                            <div class="col-md-9">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12"><b>Professional Name: </b>{{item.vendorname}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><b>Booking Location: </b>{{item.bookingLocation}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><b>Booking Date: </b>{{item.bookingDate}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><b>Booking Timings: </b>{{item.bookingTime}}</div>
                                        </div>
                                        <div class="row text-left" *ngIf="item.timeIn">
                                          <div class="col-md-12"><b>Time In: </b>{{item.timeIn}}</div>
                                      </div>
                                      <div class="row text-left" *ngIf="item.timeOut">
                                        <div class="col-md-12"><b>Time Out: </b>{{item.timeOut}} </div>
                                    </div>
                                    <div class="row text-left" *ngIf="item.bookingType=='virtualPooja' || item.bookingType=='virtualAstrology'">
                                      <div class="col-md-12" >

                                      <a class="pointer"  (click)="Meeting(item.bookingId)">Virtual Online Pooja</a>
                                         <!--<a class="pointer" [class.disabled]="item.bookingStatusId =='7' || item.bookingStatusId =='5' || item.bookingStatusId =='4'? true : false "  (click)="Meeting(item.bookingId)">Virtual Online Pooja</a>-->
                                        </div>
                                  </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer w-100" style="background-color:#dfefef;color: white;text-align: center;font-weight: bold;">

                    <button type="button" class="btn btn-primary" (click)="OpenModalPopup('booking')" >View Booking</button>

                    <button type="button" class="btn btn-primary" (click)="OpenModalPopup('rating')" style="margin-left: 5px;">Give Rating</button>
                </div>
            </div>
            <ng-template #mymodal let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">

                  <span *ngIf="!isRating"> Booking Details</span>
                  <span *ngIf="isRating">Rate your Experience</span>
                </h4>
                <button type="button" style="border:0px;"  aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div *ngIf="isRating" class="modal-body w-100">
                <div class="contained-fluid w-100 text-left">
                  <div class="row p-2">
                    <div class="col-md-4 mt-2">
                      Rate a Professional:
                    </div>
                    <div class="col-md-8" style="vertical-align: top;">




                        <button (click)="GiveRating($event,'1',stars.star1)" [ngClass]="stars.star1==true ? 'starorange' : 'starblack'" [value]="stars.star1" type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="star1" name="star1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button (click)="GiveRating($event,'2',stars.star2)" [ngClass]="stars.star2==true ? 'starorange' : 'starblack'" [value]="stars.star2" type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="star2" name="star2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button (click)="GiveRating($event,'3',stars.star3)" [ngClass]="stars.star3==true ? 'starorange' : 'starblack'" [value]="stars.star3"  type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="star3" name="star3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button (click)="GiveRating($event,'4',stars.star4)" [ngClass]="stars.star4==true ? 'starorange' : 'starblack'" [value]="stars.star4"  type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="star4" name="star4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button (click)="GiveRating($event,'5',stars.star5)" [ngClass]="stars.star5==true ? 'starorange' : 'starblack'" [value]="stars.star5" type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="star5" name="star5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>


                    </div>
                  </div>
                  <div class="row p-2">
                    <div class="col-md-4 mt-2">
                      Feedback/ Review:
                    </div>
                    <div class="col-md-8" style="vertical-align: top;">
                      <textarea class="form-control" [(ngModel)]="feedback.ReviewComments" id="txtFeedback" rows="3"></textarea>
                    </div>
                    </div>
                  </div>
              </div>
              <div *ngIf="!isRating" class="modal-body w-100">
                <div class="contained-fluid w-100 text-left legend">
                  <div class="row p-2">
                    <div class="col-md-6">
                      Professional Mobile No:
                    </div>
                    <div class="col-md-6">
                      {{item.mobileNumber}}
                    </div>
                  </div>

                  <div class="row p-2">
                    <div class="col-md-6">
                      Professional EmailId:
                    </div>
                    <div class="col-md-6">
                      {{item.emailId}}
                    </div>
                  </div>

                  <div class="row p-2">
                    <div class="col-md-6">
                      City:
                    </div>
                    <div class="col-md-6">
                      {{item.cityName}}
                    </div>
                  </div>

                  <div class="row p-2">
                    <div class="col-md-6">
                      Amount Paid:
                    </div>
                    <div class="col-md-6">
                      {{item.total}}
                    </div>
                  </div>
                  <div class="row p-2">
                    <div class="col-md-6">
                      Payment Mode:
                    </div>
                    <div class="col-md-6">
                      {{item.modeOfPayment}}
                    </div>
                  </div>
                  <div class="row p-2">
                    <div class="col-md-6">
                      Package:
                    </div>
                    <div class="col-md-6">
                      {{item.packageName}}
                    </div>
                  </div>

                  <div class="row p-2">
                    <div class="col-md-6">
                      Review Comments:
                    </div>
                    <div class="col-md-6">
                      {{item.reviewComments}}
                    </div>
                  </div>
              </div>
            </div>

              <div class="modal-footer text-center">

                <button *ngIf="isRating" type="button" class="btn btn-primary" style="margin-left: 1px;" (click)="SubmitFeedback(item.bookingId)">Submit Feedback</button>
                <button *ngIf="!isRating" type="button" class="btn btn-primary" style="margin-left: 1px;" (click)="CancelBooking(item.bookingId,4)">Cancel Booking</button>
                <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
              </div>
            </ng-template>


        </div> <!--End of For loop-->

    </div>
    <div class="row text-center" *ngIf="ongoing.length==0">
      <div class="col-md-12 text-center" >
        <button type="button" class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="active">Book a Service</button>
      </div>
      </div>
</div>
</div>
<app-footer></app-footer>
