<app-header></app-header>
<div class="container-fluid jumbotron" style="background-color: linen; height:100%">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-primary mb-3 w-100">
          <div class="card-header font-weight-bold">Order Details: {{templeServiceDetails[0].templeName}}
            <div class="pull-right">Invoice No: {{templeServiceDetails[0].invoice}}</div>
          </div>

          <div class="card-body" style="height: 100%">
            <label style="font-weight: bold;">Service Details</label>
            <div class="conatiner-fluid">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered w-100">
                    <thead class="thead-light">
                      <tr>
                        <th>Order No</th>
                        <th>Service Name</th>
                        <th>Service Date & Time</th>
                        <th>Email Id</th>
                        <th>Payment Date & Time</th>
                        <th>Payment Method</th>
                        <th>Service Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of templeServiceDetails;let i=index">
                        <td>{{item.orderNo}}</td>
                        <td>{{item.serviceName}}</td>
                        <td>{{item.dateOfService}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.paymentDate}}</td>
                        <td>{{item.modeOfPayment}}</td>
                        <td>{{item.servicePrice}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>

            <div *ngIf="templeAccommodationDetails.length>0">
              <label style="font-weight: bold;">Accommodation Details</label>
              <div class="conatiner-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-bordered w-100">
                      <thead class="thead-light">
                        <tr>                          
                          <th>Room</th>                          
                          <th>Room Booking Date</th>
                          <th>Email Id</th>
                          <th>No Of Days Stay</th>
                          <th>Payment Date & Time</th>
                          <th>Payment Method</th>
                          <th>Room Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of templeAccommodationDetails;let i=index">                          
                          <td>{{item.room}}</td>                          
                          <td>{{item.roomBookingDate}}</td>
                          <td>{{item.emailId}}</td>
                          <td>{{item.noOfDaysStay}}</td>
                          <td>{{item.paymentDate}}</td>
                          <td>{{item.modeOfPayment}}</td>
                          <td>{{item.roomPrice}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>

            <label style="font-weight: bold;">Total Amount: {{templeServiceDetails[0].totalAmount}}</label>

          </div>
          <div class="card-footer">

            <button type="button" class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="active">Back to
              Home</button>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<app-footer></app-footer>























<!-- <app-header></app-header>

<div class="container-fluid jumbotron h-100" style="background-color: linen;margin-top: 25px;height:100%">
    <div class="container h-100 mt-5">
        <div class="row">
            <div class="col-md-12">

                <div class="card border-primary mb-3 w-100">
                    <div class="card-header font-weight-bold">Order Details</div>
                    <div class="card-body w-100 h-100">
                        <div class="conatiner-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered w-100">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>TempleName</th>
                                                <th>Darshan</th>
                                                <th>Darshan Price</th>

                                                <th>Room</th>
                                                <th>Room Price</th>

                                                <th>Total</th>
                                                <th>Payment Method</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr *ngFor="let data of templeInvoiceData">
                                                <td>{{data.templeName}}</td>
                                                <td>{{data.darshanType}}</td>
                                                <td>{{data.darshanPrice}}</td>

                                                <td>{{data.roomType}}</td>
                                                <td>{{data.roomPrice}}</td>

                                                <td>{{data.totalAmount}}</td>
                                                <td>{{data.modeOfPayment}}</td>
                                                <td><input type="button"
                                                        (click)="ShowServiceInfo(data.templeId, data.invoiceNo)"
                                                        value="View Booking"></td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <ng-template #mymodal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">

                            <span *ngIf="!isRating"> Booking Details</span>
                            <span *ngIf="isRating">Rate your Experience</span>
                        </h4>
                        <button type="button" style="border:0px;" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body w-100">
                        <div class="contained-fluid w-100 text-left">
                            <table class="table table-bordered w-100">
                                <tr>
                                    <th>Service Name</th>
                                    <th>Service Date & Time</th>
                                    <th>Order No</th>
                                    <th>Amount</th>
                                </tr>
                                <tr *ngFor="let item of selectedTempleInvoiceData" class="legends">
                                    <th>{{item.serviceName}}</th>
                                    <th>{{item.bookingDateTime}}</th>
                                    <th>{{item.orderNo}}</th>
                                    <th>{{item.bookingAmount}}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
    <app-footer></app-footer> -->