
<app-adminheader></app-adminheader>

<div class="container-fluid w-100  mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card border mb-3 w-100">
                <div class="card-header w-100 font-weight-bold">Concern Enquiry

                </div>

                <div class="card-body w-100" style="height: 630px;overflow: scroll;">

                    <div class="conatiner-fluid">
                        <div class="row">

                            <div class="table-responsive w-100">
                                <table class="table table-bordered w-100">
                                    <thead class="thead-light">
                                        <th style="display: none;"> ConcernID</th>
                                        <th>ConcernType</th>
                                        <th>RequestedAmount</th>
                                        <th>Name</th>
                                        <th>EmailID</th>
                                        <th>Address</th>
                                        <th>MobileNumber</th>

                                    </thead>
                                    <tbody *ngFor="let service of Services; let i=index"
                                        [ngClass]="{'active': selectedIndex == i}">
                                        <td style="display: none;"> {{service.concernID}}</td>
                                        <td> {{service.concernType}}</td>
                                        <td> {{service.requestedAmount}}</td>
                                        <td> {{service.name}}</td>
                                        <td> {{service.emailID}}</td>
                                        <td> {{service.address}}</td>
                                        <td> {{service.mobileNumber}}</td>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>