<app-header></app-header>

<div class="templeDetailsDiv">
    <div class="row">
        <div class="col-6">
            <h3 class="page-title">{{templeDetails.templeType}} <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span>{{templeDetails.templeName}}</span>
            </h3>
        </div>
        <div class="col-6">
            <h3 class="page-title" style="text-align: right;">{{templeDetails.stateName}} <i class="fa fa-angle-right"
                    aria-hidden="true"></i>
                <span>{{templeDetails.cityName}}</span>
            </h3>
        </div>
    </div>

    <div class="templeBody">
        <label style="font-weight: bold;">About Temple</label>

        <div class="col-12 row p-2">
            <div class="col-10">
                <span [innerHTML]="templeDetails.aboutTemple"></span>
            </div>
            <div class="col-2">
                <span><img src="data:image/png;base64,{{templeDetails.templeImage}}" width="200px"
                        height="200px" /></span>
            </div>
        </div>
        <label>Book Services and Accommodation for Temple from Below:</label>
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#services">Temple Services & Accommodation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#transport">Transport</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#accommodation">Accommodation</a>
                </li> -->
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="history">
                    <span [innerHTML]="templeDetails.templeDescription"></span>
                </div>

                <div class="tab-pane fade active show" id="services">
                    <div class="col-12 row p-2">
                        <div class="col-6">
                            <label style="font-weight: bold;">Daily Pujas and Sevas offered to the Deity</label>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Service Name</th>
                                    <th>Service Timings</th>
                                    <th>Service Price</th>
                                </tr>
                                <tr *ngFor="let serv of servicesTimings">
                                    <td>{{serv.serviceName}}</td>
                                    <td>{{serv.serviceTimings}}</td>
                                    <td>Rs. {{serv.servicePrice}}</td>
                                </tr>
                            </table>
                            <br>
                            <label style="font-weight: bold;" *ngIf="accommodationTimings.length>0">Accommodation at temple</label>
                            <table class="table table-striped table-bordered" *ngIf="accommodationTimings.length>0">
                                <tr>
                                    <th>Room Type</th>
                                    <th>Room Timings</th>
                                    <th>Room Price</th>
                                </tr>
                                <tr *ngFor="let acm of accommodationTimings">
                                    <td>{{acm.roomType}}</td>
                                    <td>{{acm.roomTimings}}</td>
                                    <td>Rs. {{acm.roomPrice}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-6">
                            <label style="font-weight: bold;">Fill out form to book services</label>
                            <div class="col-12">
                                <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
                                    novalidate class="serviceBookForm">

                                    <div class="form-group row">
                                        <div class="col-5">
                                            <input type="text" class="form-control" id="userName" name="userName"
                                                [(ngModel)]="userDetails.UserName" #userName="ngModel" required
                                                placeholder="User Name" autocomplete="off">
                                            <span class="text-danger"
                                                *ngIf="(userName.touched || userForm.submitted) && userName.errors?.required">
                                                User Name is required
                                            </span>
                                        </div>
                                        <div class="col-5">
                                            <input type="email" class="form-control" id="emailId" name="emailId"
                                                [(ngModel)]="userDetails.UserEmail" #emailId="ngModel" required
                                                placeholder="Email Id" autocomplete="off"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                            <span class="text-danger"
                                                *ngIf="(emailId.touched || userForm.submitted) && emailId.errors?.required">
                                                Email Id is required
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-5">
                                            <input type="text" class="form-control" id="mobNum" name="mobNum"
                                                [(ngModel)]="userDetails.UserMobileNo" #mobNum="ngModel" required
                                                placeholder="Mobile Number" autocomplete="off">
                                            <span class="text-danger"
                                                *ngIf="(mobNum.touched || userForm.submitted) && mobNum.errors?.required">
                                                Mobile Number is required
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-3">
                                            <label>Service</label>
                                        </div>
                                        <div class="col-5">
                                            <temple-services-multi-select-dropdown [serviceList]="servicesTimings"
                                                (shareServiceCheckedList)="shareServiceCheckedList($event)">
                                            </temple-services-multi-select-dropdown>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-10">
                                            Select if you want to assign multiple dates to multiple services.
                                        </label>
                                        <div class="col-2">
                                            <input type="checkbox" name="multipleServices"
                                                (change)="MultipleServicesDateTime()">
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="!multiServiceDateTime">
                                        <div class="col-3">
                                            <label>Select Service Date & Time</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="date" class="form-control" id="bookingDate" name="bookingDate"
                                                [(ngModel)]="serviceDetails.BookingDate" #bookingDate="ngModel">
                                        </div>
                                        <div class="col-4">
                                            <input type="time" width="100px" class="form-control" id="bookingTime"
                                                name="bookingTime" [(ngModel)]="serviceDetails.BookingTime"
                                                #bookingTime="ngModel">
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="multiServiceDateTime">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <td>Service</td>
                                                <td>Booking Date</td>
                                                <td>Booking Time</td>
                                            </tr>
                                            <tr *ngFor="let item of selectedServiceDetails; let i = index;">
                                                <td>{{item.serviceName}}</td>
                                                <td>
                                                    <input type="date" class="form-control" id="bookingDate"
                                                        name="bookingDate[-{{i}}]" [(ngModel)]="item.bookingDate"
                                                        #bookingDate="ngModel">
                                                </td>
                                                <td>
                                                    <input type="time" width="100px" class="form-control"
                                                        id="bookingTime" name="bookingTime[-{{i}}]"
                                                        [(ngModel)]="item.bookingTime" #bookingTime="ngModel">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="form-group row" *ngIf="accommodationTimings.length>0">
                                        <label class="col-10">
                                            Accommodation, Select If Required.
                                        </label>
                                        <div class="col-2">
                                            <input type="checkbox" name="acmdCbYes" [checked]="displayAcmd"
                                                (change)="AcmbCb()">
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="displayAcmd">
                                        <div class="col-3">
                                            <label>Accommodation</label>
                                        </div>
                                        <div class="col-5">
                                            <accommodation-multi-select-down [acmdList]="accommodationTimings"
                                                (shareAcmdCheckedlist)="shareAcmdCheckedlist($event)">
                                            </accommodation-multi-select-down>
                                        </div>
                                        <div class="col-4">
                                            <input type="number" id="acmdNoOfDays" name="acmdNoOfDays"
                                                [(ngModel)]="userDetails.AcmdNoOfDays" class="form-control"
                                                placeholder="No of Days">
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="displayAcmd">
                                        <div class="col-3">
                                            <label>Select Accommodation Date</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="date" class="form-control" id="acmdDate" name="acmdDate"
                                                [(ngModel)]="serviceDetails.AcmdDate" #acmdDate="ngModel">
                                        </div>
                                        <!-- <div class="col-4">
                                            <input type="time" width="100px" class="form-control" id="acmdTime"
                                                name="acmdTime" [(ngModel)]="serviceDetails.AcmdTime"
                                                #acmdTime="ngModel">
                                        </div> -->
                                    </div>


                                    <!-- <div class="form-group row">
                                        <div class="col-3">
                                            Accommodation
                                        </div>
                                        <div class="col-4">
                                            <select name="roomTypeId" id="roomTypeId"
                                                [(ngModel)]="userDetails.RoomTypeId" class="form-control"
                                                #roomTypeId="ngModel">
                                                <option [value]="0">Room Type</option>
                                                <option [value]="1">A/C</option>
                                                <option [value]="2">Non A/C</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <input type="number" id="noOfPerson" name="noOfPerson"
                                                [(ngModel)]="userDetails.NoOfPerson" class="form-control"
                                                placeholder="No of person">
                                        </div>
                                    </div> -->

                                    <div class="form-group row">
                                        <div class="col-3">
                                            <label>Request Query</label>
                                        </div>
                                        <div class="col-6">
                                            <textarea type="text" id="reqQuery" name="reqQuery"
                                                [(ngModel)]="userDetails.UserRequestQuery" class="form-control"
                                                #reqQuery="ngModel" placeholder="Enter Occasion If Any Else Query"
                                                autocomplete="off"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="margin-left: 80%;">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="transport">
                    <span [innerHTML]="templeDetails.templeTransport"></span>
                </div>

                <!-- <div class="tab-pane fade" id="accommodation">
                    <div class="col-12 row p-2">
                        <div class="col-6">
                            <label style="font-weight: bold;">Accommodation at temple</label>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Room Type</th>
                                    <th>Room Timings</th>
                                    <th>Room Price</th>
                                </tr>
                                <tr *ngFor="let acm of accommodationTimings">
                                    <td>{{acm.roomType}}</td>
                                    <td>{{acm.roomTimings}}</td>
                                    <td>Rs. {{acm.roomPrice}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>