<ion-header>
  <ion-toolbar class="background">
  
    <ion-title class="title">Track Location</ion-title>
    <a (click)="Back()" slot="start" style="margin-left: 13px;"> <img src="../../assets/Images/arrow-red.png"/></a>
    <ion-button type="button" class="primary" color="warning" size="small" (click)="RefreshMap()" slot="end" >
      Refresh
     </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"  >
   <!-- <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>-->
    <agm-direction 
    [renderOptions]="renderOptions" 
    [markerOptions]="markerOptions"
    [origin]="origin" 
    [destination]="destination" ></agm-direction>
</agm-map>

</ion-content>