
<app-header></app-header>
<style type="text/css">
  body{
    margin-top:20px;
    background:#eee;
}
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}

</style>
  <div class="container-fluid jumbotron" style="background-color: linen;" >


    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">

            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">

                <h3 class="color--white mb-5">Order Summary</h3>

                <ul class="contact-info__list list-style--none position-relative z-index-101">
                    
                    <li class="mb-4 pl-4">

                        Language Preference: {{booking.languageName}}
    
    
                    </li>
                  <li class="mb-4 pl-4">

                    Pooja name: {{booking.serviceName}}


                </li>
                <li *ngIf="poojakitname" class="mb-4 pl-4">

                    Pooja kit: {{booking.itemName}}


                </li>
                    <li class="mb-4 pl-4">
                         City:  {{booking.cityName}}
                    </li>
                    <li class="mb-4 pl-4">
                    Package: {{booking.packageName}}
                    </li>

                    <li class="pull-right mb-4 pl-4 font-weight-bold">
                       Total: {{booking.Total}}

                    </li>


                </ul>


            </div>

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form (ngSubmit)="Booking()" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="date">Select Date</label>
                                <input type="date"  class="form-control" id="txtDate" name="txtDate" [(ngModel)]="booking.BookingDate">
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label for="time">Time Preference</label>
                                <input type="time" width="100px" class="form-control" id="time" name="time" [(ngModel)]="booking.BookingTime">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-3">
                          <div class="form-group">
                        <fieldset class="form-group">
                          <label for="selectprofessional">Select Professional</label>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio"  (change)="selectVendor($event)" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="autovendor" [checked]="selectVendorOption">
                              Auto Assist
                            </label>
                          </div>
                          <div class="form-check">
                          <label class="form-check-label">
                              <input type="radio" (change)="selectVendor($event)"  class="form-check-input" name="optionsRadios" id="optionsRadios2" value="choosevendor" [checked]="!selectVendorOption">
                              Select your Favorite Professional
                            </label>
                          </div>

                        </fieldset>
                        </div>
                        </div>
                        <div class="col-md-12" *ngIf="!selectVendorOption && booking.vendorName">
                          <div class="card border-primary mb-3 w-100">


                              <div class="card-body" style="height: 100%">

                                  <div class="conatiner-fluid">
                                      <div class="row">
                                          <div class="col-md-12">
                                            <table class="table table-bordered w-100" >
                                              <thead class="thead-light">
                                                  <tr>

                                                      <th>Vendor Name</th>
                                                      <th>Address</th>

                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>{{booking.vendorName}}</td>
                                                      <td>{{booking.vendorAddress}}</td>


                                                  </tr>

                                              </tbody>
                                            </table>
                                          </div>

                                      </div>
                                  </div>

                              </div>

                          </div>
                      </div>


                      <div class="col-sm-12 mb-3" style="display: none;">
                        <div class="form-group">
                            <label class="required-field" for="comments">Requirements/ Comments</label>
                            <textarea class="form-control" id="comments" name="comments" [(ngModel)]="booking.ReviewComments"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-3">
                        <div class="form-group pull-right">
                            <button type="submit"  class="btn btn-primary">Proceed To Cart</button>
                        </div>
                    </div>

                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->



        </div>
    </div>

  </div>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Vendor Locations</h4>
      <button type="button" style="border:0px;"  aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body w-100">
      <div class="contained-fluid w-100">
        <div class="row">
          <div class="col-md-12">
          <app-vendorlocation (eventBook)="getVendorDetails($event)"></app-vendorlocation>
          </div>
        </div>

    </div>
    </div>

  </ng-template>
  <app-footer></app-footer>
