<app-adminheader></app-adminheader>

<div class="container-fluid w-100" style="margin-top: 20px;">
    <div class="container-fluid w-100" style="margin-top: 20px;">
        <h4 class="text-info">Manage Temple Requests</h4><br>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>EmailID</th>
                <th>Temple</th>
                <th>City</th>
                <th>State</th>
                <th>Description</th>
                <th>Aging</th>
                <th></th>
            </tr>
            <tr *ngFor="let request of templeServiceRequest">
                <td>{{request.userName}}</td>
                <td>{{request.userEmail}}</td>
                <td>{{request.userMobileNumber}}</td>
                <td>{{request.templeName}}</td>
                <td>{{request.cityName}}</td>
                <td>{{request.stateName}}</td>
                <td>{{request.userRequest}}</td>
                <td>{{request.aging}}</td>
            </tr>
        </table>
    </div>
</div>

<footer></footer>