

<app-storeheader></app-storeheader>

<div class="container-fluid jumbotron h-100" style="background-color: linen;margin-top: 25px;height:100%" >

  <table align="center">
    <tbody>

<tr><td>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary">
            <input (click)="CalendarTab('current')" type="radio" name="options" id="option1" autocomplete="off" checked=""> Current Orders
          </label>

          <label class="btn btn-primary">
            <input (click)="CalendarTab('history')"  type="radio" name="options" id="option2" autocomplete="off"> History
          </label>
      </div>
</td></tr>

    </tbody>
  </table>
  <div class="container h-100 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3 w-100">
                <div class="card-header font-weight-bold">Order Details

                </div>

                <div class="card-body w-100 h-100">

                    <div class="conatiner-fluid">
                        <div class="row">
                            <div class="col-md-12">
                              <table class="table table-bordered w-100" >
                                <thead class="thead-light">
                                    <tr>
                                        <th>Order No</th>

                                        <th>Product Name</th>

                                        <th>Date</th>
                                        <th>Customer Name</th>

                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th *ngIf="caltype=='current'">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of orderdetails;let i=index">
                                        <td><a href="">{{item.orderNo}}</a></td>
                                        <td>{{item.productName}}</td>

                                        <td>{{item.bookingDate}}</td>
                                        <td>{{item.userName}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.total}}</td>
                                        <td>{{item.bookingStatus}}</td>
                                        <td *ngIf="caltype=='current'">
                                          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="btn btn-primary">Update</button>
                                            <div class="btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item pointer" (click)="Accept(item.bookingId,2,item.storeQuantity)">Accept Order</a>
                                                <a class="dropdown-item pointer" (click)="Accept(item.bookingId,3)">Order InProcess</a>
                                                <a class="dropdown-item pointer" (click)="Accept(item.bookingId,11)">Order Ready</a>
                                                <a class="dropdown-item pointer" (click)="Accept(item.bookingId,10)">Order Picked up</a>
                                              </div>
                                            </div>
                                          </div>
                                        </td>

                                    </tr>

                                </tbody>
                              </table>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-footer">



              </div>
            </div>
        </div>
        </div>

</div>

  </div>
  <app-footer></app-footer>
