<app-header></app-header>
<div class="container-fluid jumbotron h-100" style="background-color: linen;" >
    <div class="card ">
        <div class="pt-1">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-6">
                                          <h3><b>Blog :</b></h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4" *ngFor="let blog of blogDetails;let index = index">
                                        <div class="file-man-box">
                                            <div class="file-img-box">
                                              <img  src="data:image/png;base64,{{blog.blogImage}}"  width="100px" height="250px" alt="icon">
                                           
                                            </div>
                                            <div class="file-man-title">

                                                <h6 class="mb-0"><a [routerLink]="['/blogdetails',blog.blogID]" routerLinkActive="active" style="color: black;">{{blog.blogTitle}}</a></h6>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container -->
            </div>
        </div>




    </div>
    <app-footer></app-footer>

