<app-header></app-header>
<div class="container-fluid">


    <div class="jumbotron text-center" style=" padding-top: 20px">
        <h3 class="section-heading text-uppercase" style="font-size: 35px;">About Brahmasmi</h3>

    </div>
    <div class="col-sm-10">
        <h3 class="section-subheading" style="padding-left: 7cm;color:darkgreen;">Company Overview</h3>
        <br>
        <p style="padding-left: 7cm;">We, the Brahmasmi is an internet-based company providing an extensive package of
            online pooja services to ensure that all your religious events and ceremonies are performed in a
            professional way under one cover. Right from the commencement to the completion of your ritual/pooja, the
            entire manner will be taken care of by us i.e., Brahmasmi. You wish for it and we will complete it.</p>
        <p style="padding-left: 7cm;">We fulfil the wishes of you and your loved ones to offer the wholehearted
            religious beliefs that not only bring peace of mind but also richness and prosperity to your family. The
            Hindu dharma as per scriptures describes specific standards and ritual worshipping of various Gods and
            Goddesses. In today’s running life, it became very strenuous to meet these stringent demands. On the other
            side, any paucity can end in abrupt results.</p>
        <p style="padding-left: 7cm;">So, to liberate yourself from these concerns, Brahmasmi available 24*7 to take it
            over from you and carry the ritual/pooja with as much originality and devotion like you were able to put in
            ritual/pooja. We apprehend your needs, we will complete your ritual/pooja flawlessly and we strive to make
            this happen for you. We believe in, we aim for and undoubtedly, client contentment is our top priority.</p>


        <br>
        <br>

    </div>
    

    <div class="col-sm-10">
        <h3 class="section-subheading" style="padding-left: 7cm;color:darkgreen">Brahmasmi provides the following services to
            our beloved customers: </h3>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">1. Online Pandit booking: </h3>
        <p style="padding-left: 7cm;">Brahmasmi is India's best online pandit booking platform for all types of Pooja's.
            Book pandit online from the Brahmasmi website for an affordable price and experience the sacred, hassle-free
            pooja services from our certified and professional pandits. All our pandits are well experienced and came
            from Vedic Patashala. We offer pooja services in various languages like Telugu, Tamil, Kannada, Malayalam,
            Hindi, Marathi, Bengali, Oriya, Gujarati, etc. So relax and keep faith in Brahmasmi wherein we let you and
            your family experience the sacredness of this unique service offered by Brahmasmi and receive the blessings
            from the God/Goddess.

        </p>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">2. Virtual Pooja services: </h3>
        <p style="padding-left: 7cm;">In this world of commitments, not everyone will have time to assemble and pray in
            front of God and Goddess to offer ritual/pooja even they have the intention to do. We, the Brahmasmi
            designed a Virtual pooja service where the ritual/pooja can be performed through your PC. All you need is
            your PC and you just have to spend a few minutes over your PC to perform ritual/pooja!</p>
        <br>

        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">3. Temple services:</h3>
        <p style="padding-left: 7cm;">Frustrated about booking darshan tickets?? Don't worry!! Brahmasmi is with you. We
            are the helping hand to the ones who are not having adequate time to book the darshan tickets coz of your
            hectic schedule. Brahmasmi provides complete temple services throughout India commencing from Darshan
            tickets to Seva tickets, providing accommodation, etc. What you have to do is just logon to our website and
            specify the details of your plan. That's it. Brahmasmi will take care of the rest. We assure you that you
            will not encounter any hurdles while you are at a sacred place.



        </p>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">4. Astrology services: </h3>
        <p style="padding-left: 7cm;">We offer Vedic Astrology services from well experienced in-house Astrologers.
            These astrologers will work with us to check one's horoscope and will come up with the remedies for your
            problems facing in life. No limitations, no constraints. Just talk to our experts and for sure you will find
            a solution from us.</p>
        <br>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">5. E-cart services:</h3>
        <p style="padding-left: 7cm;">Rituals, festivals, life-events are our Indian way of life, no event completes in
            our life without invoking deities, chanting mantras. Performing ritual/pooja is our most conventional way of
            celebrations. Without pooja samagri, ritual/pooja can’t be done. Brahmasmi provides E-cart services where
            you can choose all your pooja samagri and pooja accessories from our website and get them delivered at your
            wishful location. Even if you want to purchase a specific pooja product, you can log into our website.
            Online shopping with us saves you time and it's an effortless way to purchase pooja items rather than going
            to the store for the same.</p>
        <br>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">6. Recorded videos:</h3>
        <p style="padding-left: 7cm;">If you can't find a pandit for your respective pooja at a specific time, don't
            become depressed. Click on Brahmasmi for streamed pooja videos. We holding an ample collection of streamed
            pooja videos. Select your respective streamed pooja video from our website. That's it. Now you can play the
            video anytime and perform your pooja peacefully and devotionally to get blessings from deities.</p>
        <br>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">7. Pandit certification: </h3>
        <p style="padding-left: 7cm;">Brahmasmi grants certification to the pandits who are qualified for performing the
            pooja/ritual and up-to-date with the Vedas and scriptures. We the Brahmasmi provide only the certified
            pandits for our customers to perform pooja/ritual which means that we deliver quality rather than quantity.
        </p>
        <br>
        <br>
        <h3 class="section-subheading " style="padding-left: 7cm;color: red;">8. Special services: </h3>
        <p style="padding-left: 7cm;">Brahmasmi also provides special services to our customers that includes Cultural
            events, Catering services, Matrimonial services, Beauty services, Housekeeping services etc.</p>
        <br>
        <br>
    </div>
    <div class="col-sm-10">
        <h3 class="section-subheading " style="padding-left: 7cm;color:darkgreen">Mission/Vision/Values of the Company </h3>
        <br>
        <div>
            <h3 class="section-subheading " style="padding-left: 7cm;color: red;">Mission </h3>
            <ul style="padding-left: 8cm;">
                <li>Consistently Provide an Expeditious, Caring and Friendly
                    environment to
                    Vendors and customers.</li>
                <li> Continuously improve our services and processes.</li>
                <li>Top Customer Satisfaction Rating.</li>
                <li>Promote our Local Relationship, thus Strengthening the societal
                    confidence in us as a caring
                    organization.</li>
            </ul>
        </div>

        <div>
            <h3 class="section-subheading " style="padding-left: 7cm;color: red;">Vision </h3>
            <p style="padding-left: 7cm;">
                Brahmasmi will excel in consistent, efficient and friendly delivery of puja services to keep the
                customer in satisfaction. </p>

        </div>

        <div>
            <h3 class="section-subheading " style="padding-left: 7cm;color: red;">Brand Essence </h3>
            <p style="padding-left: 7cm;">Brahmasmi integrates all the Pandit Services for customers and Pandit partners
                onto a mobile technology platform ensuring convenient Puja, Transparency and quick service fulfilment.
                Brahmasmi is committed to its mission of building mobility for a billion people. Using the Pandit mobile
                app, users across 397 cities can book Pandits from over 10,00,000 People to avail services. Pandit has
                also introduced a range of shared mobility services on its platform. The app is available on Windows,
                Android and iOS platforms</p>
        </div>
        <div>
            <h3 class="section-subheading " style="padding-left: 7cm;color: red;">Values</h3>
            <ul style="padding-left: 8cm;">
                <li>Simple : Our Service, Communication and process will be simple (Client Client-Centric).</li>
                <li> Proactive : A Sense of Urgency, Eagerness to work and solve problems, and provide a thrust on execution.</li>
                <li>Engaging  : We are good listeners, we will work with partners, stakeholders and We are genuine. </li>
                <li>Caring : Through our behaviour, we shall express empathy towards all our stake holders.</li>
                <li>Efficient : It is the manner in which how we deliver that is going to reflect on our process, service and experience.</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="col-sm-10">
        <h3 class="section-subheading" style="padding-left: 7cm;color:darkgreen">Brand Logo</h3>
        <br>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <div class="row">
                    <li class="col-md-2" style="display: inline;">

                        <img src="../../assets/img/brahmasmi.jpg" class="tn" width="100%" height="100%"
                            style="margin-left: 300px;">

                    </li>
                </div>
            </div>
        </ul>

    </div>
    <br>

    <div class="col-sm-10">
        <h3 class="section-subheading " style="padding-left: 7cm;color:darkgreen">Our Logo</h3>
        <br>
        <p style="padding-left: 7cm;">Brahma is the one who is well knowledge in Vedas. Asmi signifies me, i.e.
            Brahmasmi
            represent Brahma on Earth and carry the divine knowledge passed on by Brahma to me, The Pandit.</p>
        <p style="padding-left: 7cm;">Sri Vinayaka on Green Leaf represents that, may we prosper endlessly by his divine
            grace, the yellow globe represents our vision to expand worldwide along with the red tilak at the top of the
            leaf, which signifies that Brahmasmi is a one-stop solution for everything related to Pooja and Pooja
            services.
        </p>
    </div>
    <br>
    <div class="col-sm-10">
        <h3 class="section-subheading" style="padding-left: 7cm;color:darkgreen">The Team</h3>
        <br>
    </div>
    <div>
        <ul style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading" style="text-align: center;color:darkgreen"><b>CEO</b></h3>
                <div class="row">
                    <li class="col-md-3 offset-4" style="display: inline;">

                        <a>
                            <img src="../../assets/Web-Images/Varunsir.png" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <div>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading " style="text-align: center;color:darkgreen"><b>DEV TEAM</b></h3>
                <div class="row">

                    <li class="col-md-3" *ngFor="let image of devImages" style="display: inline;">

                        <a>
                            <img src="{{image.url}}" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>

    </div>
    <div>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading" style="text-align: center;color:darkgreen"><b>SALES TEAM</b></h3>
                <div class="row">

                    <li class="col-md-3" *ngFor="let image of salesImages" style="display: inline;">

                        <a>
                            <img src="{{image.url}}" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>

    </div>
    <div>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading " style="text-align: center;color:darkgreen"><b>HR</b></h3>
                <div class="row">

                    <li class="col-md-3" *ngFor="let image of hrImages" style="display: inline;">

                        <a>
                            <img src="{{image.url}}" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>

    </div>
    <div>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading " style="text-align: center;color:darkgreen"><b>Administrator</b></h3>
                <div class="row">

                    <li class="col-md-3" *ngFor="let image of administratorImages" style="display: inline;">

                        <a>
                            <img src="{{image.url}}" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>

    </div>
    <div>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading " style="text-align: center;color:darkgreen"><b>IT-Administrator</b></h3>
                <div class="row">

                    <li class="col-md-3" *ngFor="let image of itImages" style="display: inline;">

                        <a>
                            <img src="{{image.url}}" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>

    </div>
    <div>
        <ul id="thumbnailsList" style="padding:0; width:1200px; margin:20px auto">
            <div style="display: inline;">
                <h3 class="section-subheading" style="text-align: center;color:darkgreen"><b>Accountant</b></h3>
                <div class="row">

                    <li class="col-md-3" *ngFor="let image of accountantImages" style="display: inline;">

                        <a>
                            <img src="{{image.url}}" class="tn">
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <div class="col-sm-10">
        <h3 class="section-subheading" style="padding-left: 7cm;color:darkgreen">What we believe</h3>
        <br>
        <p style="padding-left: 7cm;"> 'Excellence is not being the best but doing the best'. Brahmasmi Hence we strive
            to create the difference between that ordinary and extraordinary, taking with that little "extra". We try to
            understand our customer's need from the moment they enter the realm of Brahmasmi and offer them service that
            keeps them smiling with us even after their exit.</p>
    </div>
    <div class="col-sm-10">
        <h3 class="section-subheading " style="padding-left: 7cm;color: darkgreen">Why Brahmasmi</h3>
        <br>
        <p style="padding-left: 7cm;"> We started Brahmasmi, began, with a vision to convert Poojas and the entire
            process of performing a Pooja right from the samagri to the actual Pooja, into an experience. At Brahmasmi,
            we believe that Purity and authenticity are equally vital, as much as providing an it is, to provide a
            smooth online Pooja booking experience to our customers. We also place the pandits at an equal stage as we
            put our customers; at that point, the needs of the customers meet the services and needs of the Pundit’s.
        </p>
    </div>
    <div class="col-sm-10">
        <h3 class="section-subheading" style="padding-left: 7cm;color: darkgreen">How is Brahmasmi different?</h3>
        <br>
        <p style="padding-left: 7cm;"> Brahmasmi will help immensely turning people’s life, the interface of the
            website, android n IOS app will be very smooth and can place a request to a vast number of pandits in one
            quick click.
        </p>
        <p style="padding-left: 7cm;"> For our "not so tech-savvy" generation, we have easy accessibility options not
            only through our minimalistic and simple app but also through our warm and friendly 24*7 Brahmasmi customer
            service.
        </p>
    </div>
    <br>
    <br>
    <div class="col-sm-10">
        <br>
        <p style="padding-left: 7cm;"><b>
                Brahmasmi is the one-stop solution for all Hindu religious rituals/poojas. So, folks, keep trust and
                faith
                in
                us. Visit our website and book your service now.</b>
        </p>
    </div>
</div>
<app-footer></app-footer>