/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
body{
    margin-top:20px;
    background:#DCDCDC;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.file-man-box {
    padding: 20px;
    border: 1px solid #e3eaef;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px
}

.file-man-box .file-close {
    color: #f1556c;
    position: absolute;
    line-height: 24px;
    font-size: 24px;
    right: 10px;
    top: 10px;
    visibility: hidden
}

.file-man-box .file-img-box {
    line-height: 120px;
    text-align: center
}

.file-man-box .file-img-box img {
    height: 64px
}

.file-man-box .file-download {
    font-size: 32px;
    color: #98a6ad;
    position: absolute;
    right: 10px
}

.file-man-box .file-download:hover {
    color: #313a46
}

.file-man-box .file-man-title {
    text-align: center;
}

.file-man-box:hover {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.file-man-box:hover .file-close {
    visibility: visible
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}
h5 {
    font-size: 15px;
}
.fixed-bottom
{
  text-align: center;
  background-color: lightblue;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.pointer
{
  cursor: pointer;
}

.card-header{
  background-image: url("../src/assets/img/rainbow-1920x150.png");
  background-repeat: no-repeat;
  /* opacity: 0.6; */
  font-weight: bold;
  text-align: center;
   font-size: 22px;
   color:darkmagenta;

}
/* .card{
border:1px solid greenyellow !important;
} */
/* .container{
  background-color: #ffffff;
} */
.btn {
  background-image:url("../src/assets/img/btnbg.jpg");
  font-weight: bold;
  color: #f7f9f9 !important;
}
.jumbotron{
  background-color:  #f1f1f1;
  width: 100%;

}
.sidenav a
  {
    color:white;
  }
  .sidenav
  {
    background-image: linear-gradient(rgb(255, 136, 0),orange,rgb(255, 136, 0));
  }
  .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    background-color: #b0b532;
    color: black !important;
  }
