<app-header></app-header>

<div class="container-fluid jumbotron">
    <div class="main-body">



          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                  <!-- <img src="data:image/png;base64,{{serviceDetails.serviceImage}}"  width="300" height="300">-->
                  <img src="../../assets/No-Image.png" width="500px" height="364px">

                  </div>
                </div>
              </div>


            </div>
            <div class="col-md-8">

              <div class="card  p-2">
                <h6 class="header-title" >
                 <!-- {{serviceDetails.shortDescription}}-->
                  <p style="font-size: 13px" [innerHTML]="serviceDetails.shortDescription"></p>
                </h6>
               <p style="height: 8px;border-bottom: 1px solid;"></p>

                <div class="pt-1">
                    <h6 class="text-uppercase mt-0">Key Insights:</h6>
                    <div>
                        <ul *ngFor="let item of serviceDetails.listInsight; let index = index">
                               <!-- <li>{{item}}</li>-->

                               <span style="font-size: 13px" [innerHTML]="item"></span>
                        </ul>

                    </div>
                </div>




            </div> <!-- end card-box-->
            </div>

          </div>
          <div class="row mt-5">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active btn btn-scondary" data-toggle="tab" href="#description">Description</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link btn btn-scondary" data-toggle="tab" href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link btn btn-scondary" data-toggle="tab"  href="#faq">FAQ</a>
                    </li>

                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="description">
                      <!--{{serviceDetails.longDescription}}-->
                      <p>
                        <span style="font-size: 13px" [innerHTML]="serviceDetails.longDescription"></span>
                      </p>
                    </div>
                    <div class="tab-pane fade" id="reviews">

                    </div>
                    <div class="tab-pane fade" id="faq">

                    </div>

                  </div>
            </div>
          </div>
        <div class="mt-2 pull-right">
            <button type="button" class="btn btn-primary" [routerLink]="['/package',serviceDetails.serviceId,serviceDetails.serviceTypeId,serviceDetails.vendorId]" routerLinkActive="active">Continue</button>
        </div>
        </div>

    </div>

    <app-footer></app-footer>

