<!--<ion-header [translucent]="true" >
  <ion-toolbar class="background">
    <ion-title>
      Pooja Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
 <ion-list>
    <ion-item *ngFor="let item of servicetypes" >
   
      <ion-label style="margin-left: 10px;">{{item.serviceTypeName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


  <ion-footer>
    <ion-toolbar class="footerbg">

    </ion-toolbar>
  </ion-footer>-->

  <ion-header [translucent]="true">
    <ion-toolbar class="background">

      <div class="Rectangle_1" align="center">
      
   <!--    <ion-menu-button></ion-menu-button>-->
        <img src="../../assets/Images/leaf.png" style="margin-top:10px;" />   
       <div class="logotext">Brahmasmi</div>
       <div class="logosubtext">TECHPANDIT</div>
      <ion-title>
        
      </ion-title>
   <!-- <ion-buttons slot="end" color="primary" style="margin-right: 15px;">  
        <img src="../../assets/icon/search2.png" width="30%" height="30%" style="margin-right: 15px;"/> 
        <img src="../../assets/icon/bell2.png" width="30%" height="30%"  style="margin-right: 45px;"/> 

      </ion-buttons>  -->  
    </div>
    <div style="background-color:rgba(197,21,21,1);">
      <ion-row>
        <ion-col style="text-align: left;">
   
      <ion-menu-button text-  style="text-align: left !important;color:white; justify-content:left !important;"></ion-menu-button>
     
    </ion-col>
  
    
      <ion-col style="text-align: right;">
        <ion-icon name="call" style="color:white;"></ion-icon>
       <span style="color:white;margin-left: 3px;"> 1800-891-6676</span>
        <ion-icon name="people" style="color:white;margin-left: 6px;"></ion-icon>
      </ion-col>
      </ion-row>
    </div>
    </ion-toolbar>
  </ion-header>
     
<ion-content> 
  <ion-row>
    <ion-col>
      <img src="../../assets/Images/ganapathi.png" width="100%" style="margin: top 0px !important;"/> 
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    <ion-card (click)="BookPoojas()">  
    <img src="../../assets/Images/homalu.png"/>  
   
    </ion-card>
    <div class="cardtext" style="margin-top:10px;">
      Book Poojas
    </div>
  </ion-col>
  <ion-col>
    <ion-card (click)="BookPandit()">  
    <img src="../../assets/Images/ganesh.png"/>  
    </ion-card>
    <div class="cardtext" >
     Book Pandit
    </div>
  </ion-col>
</ion-row>
<ion-row style="margin-top:35px;">
  <ion-col>
    <ion-card (click)="Navigate()">  
    <img src="../../assets/Images/astro@2x.png"/>  
   
    </ion-card>
    <div class="cardtext" >
      Astrologer
    </div>
  </ion-col>
  <ion-col>
    <ion-card (click)="BookPandit()">  
    <img src="../../assets/Images/temple@2x.png"/>  
    </ion-card>
    <div class="cardtext" >
    Temple Services
    </div>
  </ion-col>
</ion-row>
<ion-row style="margin-top:35px;">
  <ion-col>
    <ion-card (click)="Navigate()">  
    <img src="../../assets/Images/E-cart@2x.png"/>  
   
    </ion-card>
    <div class="cardtext" >
     E-Cart
    </div>
  </ion-col>
  <ion-col>
    <ion-card (click)="BookPandit()">  
    <img src="../../assets/Images/servces@2x.png"/>  
    </ion-card>
    <div class="cardtext" >
     Special Services
    </div>
  </ion-col>
</ion-row>
  <!--<ion-row>
    <ion-col >  
 <ion-slides pager="true" [options]="slideOpts">  

  
    <ion-slide >  
      <img src="../../assets/Images/ganapathi_001.png"/>  

    </ion-slide>  
  
    <ion-slide >  
      <img src="../../assets/Images/Priest_Img.png"/>  

    </ion-slide>  
  
    <ion-slide >  
      <img src="../../assets/Images/temple_services.png"/>  

    </ion-slide>  
  
  
  </ion-slides>  
  </ion-col>
  </ion-row>-->
  <!--<ion-row>
    <ion-col >  
  
        <ion-card (click)="Navigate()">  
       
          <p>Book Pooja</p>  
        </ion-card>  
    </ion-col>
    <ion-col >
        <ion-card (click)="BookPandit()">  
           
          <P>  
            Book Pandit
          </P>  
        </ion-card>  
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >  
          <ion-card (click)="VendorMap()">  
         
            <p>Vendor Map</p>  
          </ion-card>  
      </ion-col>
      <ion-col >
          <ion-card>  
             
            <P (click)="go()">  
              Shop Pooja Items
            </P>  
          </ion-card>  
      </ion-col>
      </ion-row>-->
      <!--<div style="text-align: left;font-weight: bold;color: red;margin-top: 15px;margin-bottom: 5px;">Recent Poojas</div> 
      <div>
     <ion-slides pager="true" [options]="slideOpts">  

  
        <ion-slide (click)="go()">  
          <img src="../../assets/Images/ganapathi01.png" class="imgrecent" />  
    
        </ion-slide>  
      
        <ion-slide >  
          <img src="../../assets/Images/hanuman01.png" class="imgrecent" />  
    
        </ion-slide>  
      
        <ion-slide >  
          <img src="../../assets/Images/ayyappa001.png" class="imgrecent" />  
    
        </ion-slide>  
      
      
      </ion-slides>  
    </div>-->
</ion-content> 


<ion-footer  style="margin-top:25px;">
  <ion-toolbar class=".footerbackground">
  <ion-tabs class="footerbackground">
    <ion-tab-bar slot="bottom" class="footerbackground">
      <ion-tab-button tab="schedule">
        <ion-icon name="home"  (click)="go()"></ion-icon>
        <ion-label color="white" style="color:white;">Home</ion-label>
     
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="briefcase" (click)="bookings()"></ion-icon>
        <ion-label style="color:white;">My Bookings</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="settings"></ion-icon>
        <ion-label style="color:white;">Services</ion-label>
      </ion-tab-button>
 
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>